# –£—á–µ–±–Ω—ã–π –ü—Ä–æ–µ–∫—Ç ‚Üí ¬´–±—ã—Å—Ç—Ä–æ —É–∑–Ω–∞—Ç—å —Ä—ã–Ω–æ—á–Ω—É—é —Å—Ç–æ–∏–º–æ—Å—Ç—å¬ª üöó

## –¶–µ–ª—å –ø—Ä–æ–µ–∫—Ç–∞

> –°–µ—Ä–≤–∏—Å –ø–æ –ø—Ä–æ–¥–∞–∂–µ –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–π —Å –ø—Ä–æ–±–µ–≥–æ–º ¬´–ù–µ –±–∏—Ç, –Ω–µ –∫—Ä–∞—à–µ–Ω¬ª —Ä–∞–∑—Ä–∞–±–∞—Ç—ã–≤–∞–µ—Ç –ø—Ä–∏–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –ø—Ä–∏–≤–ª–µ—á–µ–Ω–∏—è –Ω–æ–≤—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤. –í –Ω—ë–º –º–æ–∂–Ω–æ –±—ã—Å—Ç—Ä–æ —É–∑–Ω–∞—Ç—å —Ä—ã–Ω–æ—á–Ω—É—é —Å—Ç–æ–∏–º–æ—Å—Ç—å —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è. –í –≤–∞—à–µ–º —Ä–∞—Å–ø–æ—Ä—è–∂–µ–Ω–∏–∏ –∏—Å—Ç–æ—Ä–∏—á–µ—Å–∫–∏–µ –¥–∞–Ω–Ω—ã–µ: —Ç–µ—Ö–Ω–∏—á–µ—Å–∫–∏–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏, –∫–æ–º–ø–ª–µ–∫—Ç–∞—Ü–∏–∏ –∏ —Ü–µ–Ω—ã –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–π. –í–∞–º –Ω—É–∂–Ω–æ –ø–æ—Å—Ç—Ä–æ–∏—Ç—å –º–æ–¥–µ–ª—å –¥–ª—è –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è —Å—Ç–æ–∏–º–æ—Å—Ç–∏.

## –ó–∞–∫–∞–∑—á–∏–∫—É –≤–∞–∂–Ω—ã:

- –∫–∞—á–µ—Å—Ç–≤–æ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è;
- —Å–∫–æ—Ä–æ—Å—Ç—å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è;
- –≤—Ä–µ–º—è –æ–±—É—á–µ–Ω–∏—è;

–ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ üéí

In [41]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

from numpy.random import RandomState
from numpy.random import rand

from numpy.linalg import det

from matplotlib import rcParams

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score
from sklearn.pipeline import make_pipeline

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

–ù–∞—Å—Ç—Ä–æ–∏–º –≤–∏–¥ –≥—Ä–∞—Ñ–∏–∫–æ–≤ –ø–æ+–∫—Ä–∞—Å–æ—Ç–µ ‚ú®

In [42]:
%config InlineBackend.figure_formats = ['svg']

In [43]:
# style MATPLOTLIBRC
custom_params = {
                'figure.figsize': (10, 6),
                'figure.facecolor': '#232425',
                'figure.dpi': 240,

                'legend.frameon': False,
                'legend.borderpad': 1.4,
                'legend.labelspacing': 0.7,
                'legend.handlelength': 0.7,
                'legend.handleheight': 0.7,

                'axes.facecolor': '#232425',
                'axes.labelcolor': '#EEEEEE',
                'axes.labelpad': 17,
                'axes.spines.left': False,
                'axes.spines.bottom': False,
                'axes.spines.right': False,
                'axes.spines.top': False,
                'axes.grid': False,

                'contour.linewidth': 0.0,

                'xtick.color': '#AAAAAA',
                'ytick.color': '#AAAAAA',
                'xtick.bottom': True,
                'xtick.top': False,
                'ytick.left': True,
                'ytick.right': False,
    
                "lines.color": '#EEEEEE',

                'text.color': '#EEEEEE',
    
                'font.family': 'sans-serif',
                # 'font.sans-serif': [
                #     'Helvetica',
                #     'Verdana',
                #     'Tahoma',
                #     'Trebuchet MS',
                #     'Arial',
                #     'Chevin'
                #     ]
                }

# rcParams.update(custom_params)

In [44]:
# set max columns to none
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 200)

–ö–æ–Ω—Å—Ç–∞–Ω—Ç—ã.

In [45]:
RANDOM_SEED = 108108108
RANDOM_NP = RandomState(128) 
dpi_k = custom_params['figure.dpi'] / rcParams['figure.dpi']
px = 1/custom_params['figure.dpi']

–§—É–Ω–∫—Ü–∏–∏.

In [46]:
def baisic_df_info(data_df, title='Basic Info'):
    print(title, end='\n\n')
    print('–î—É–±–ª–∏–∫–∞—Ç–æ–≤:',
             len(data_df.loc[data_df.duplicated()].index),
          end='\n\n'
     )
    
    display(
        data_df.info(),
        data_df.sample(5),
        data_df.describe(),
    )

In [47]:
def to_px(size_px):
    px_density = int(
        round(
            size_px * px * dpi_k
        )
    )
    return px_density

In [48]:
def plot_hist(data, title='Histogram', custom_params=custom_params):
    
    num_col = 2
    num_row = int(
            len(data.columns) / num_col
        ) + (len(data.columns) % num_col)
    
    with mpl.rc_context(custom_params):
        fig, axs = plt.subplots(
            nrows=num_row,
            ncols=num_col,
            figsize=(
                to_px(960), to_px(960)),
            tight_layout=True
        )
        
        for n, col_name in enumerate(data.columns):
            ax_row = int(n/2)
            ax_col = n%2
            n_bins = len(data[col_name].unique())
                
            axs[ax_row, ax_col].hist(
                data[col_name],
                bins=n_bins,
                color='forestgreen'
            )
            axs[ax_row, ax_col].set_title(col_name)
        
        fig.suptitle(title, fontsize=16)
        
        if len(data.columns) % num_col:
            fig.delaxes(axs[-1, -1])

        plt.show()

### –ü—Ä–∏–∑–Ω–∞–∫–∏

- `DateCrawled` ‚Äî –¥–∞—Ç–∞ —Å–∫–∞—á–∏–≤–∞–Ω–∏—è –∞–Ω–∫–µ—Ç—ã –∏–∑ –±–∞–∑—ã
- `VehicleType` ‚Äî —Ç–∏–ø –∞–≤—Ç–æ–º–æ–±–∏–ª—å–Ω–æ–≥–æ –∫—É–∑–æ–≤–∞
- `RegistrationYear` ‚Äî –≥–æ–¥ —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
- `Gearbox` ‚Äî —Ç–∏–ø –∫–æ—Ä–æ–±–∫–∏ –ø–µ—Ä–µ–¥–∞—á
- `Power` ‚Äî –º–æ—â–Ω–æ—Å—Ç—å (–ª. —Å.)
- `Model` ‚Äî –º–æ–¥–µ–ª—å –∞–≤—Ç–æ–º–æ–±–∏–ª—è
- `Kilometer` ‚Äî –ø—Ä–æ–±–µ–≥ (–∫–º)
- `RegistrationMonth` ‚Äî –º–µ—Å—è—Ü —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
- `FuelType` ‚Äî —Ç–∏–ø —Ç–æ–ø–ª–∏–≤–∞
- `Brand` ‚Äî –º–∞—Ä–∫–∞ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
- `NotRepaired` ‚Äî –±—ã–ª–∞ –º–∞—à–∏–Ω–∞ –≤ —Ä–µ–º–æ–Ω—Ç–µ –∏–ª–∏ –Ω–µ—Ç
- `DateCreated` ‚Äî –¥–∞—Ç–∞ —Å–æ–∑–¥–∞–Ω–∏—è –∞–Ω–∫–µ—Ç—ã
- `NumberOfPictures` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ñ–æ—Ç–æ–≥—Ä–∞—Ñ–∏–π –∞–≤—Ç–æ–º–æ–±–∏–ª—è
- `PostalCode` ‚Äî –ø–æ—á—Ç–æ–≤—ã–π –∏–Ω–¥–µ–∫—Å –≤–ª–∞–¥–µ–ª—å—Ü–∞ –∞–Ω–∫–µ—Ç—ã (–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è)
- `LastSeen` ‚Äî –¥–∞—Ç–∞ –ø–æ—Å–ª–µ–¥–Ω–µ–π –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è

### –¶–µ–ª–µ–≤–æ–π –ø—Ä–∏–∑–Ω–∞–∫
- `Price` ‚Äî —Ü–µ–Ω–∞ (–µ–≤—Ä–æ)

<hr>

## –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö

### 1.1. –ó–∞–≥—Ä—É–∑–∏–º —Ñ–∞–π–ª –∏ –∏–∑—É—á–∏–º –¥–∞–Ω–Ω—ã–µ

In [50]:
try:
    autos_df = pd.read_csv(
        './datasets/autos.csv',
    )
    
except FileNotFoundError:
    autos_df = pd.read_csv(
        'https://code.s3.yandex.net/datasets/autos.csv',
    )
    print('FYI datasets loaded via url')

In [51]:
baisic_df_info(insurance_df)

Basic Info

–î—É–±–ª–∏–∫–∞—Ç–æ–≤: 153

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   –ü–æ–ª                5000 non-null   int64
 1   –í–æ–∑—Ä–∞—Å—Ç            5000 non-null   float64
 2   –ó–∞—Ä–ø–ª–∞—Ç–∞           5000 non-null   float64
 3   –ß–ª–µ–Ω—ã —Å–µ–º—å–∏        5000 non-null   int64
 4   –°—Ç—Ä–∞—Ö–æ–≤—ã–µ –≤—ã–ø–ª–∞—Ç—ã  5000 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

None

      –ü–æ–ª  –í–æ–∑—Ä–∞—Å—Ç  –ó–∞—Ä–ø–ª–∞—Ç–∞  –ß–ª–µ–Ω—ã —Å–µ–º—å–∏  –°—Ç—Ä–∞—Ö–æ–≤—ã–µ –≤—ã–ø–ª–∞—Ç—ã
1937    1     19.0   44400.0            0                  0
2021    1     32.0   63100.0            1                  0
530     1     36.0   21200.0            1                  0
1332    0     51.0   37200.0            2                  2
2002    1     36.0   25600.0            1                  0

               –ü–æ–ª      –í–æ–∑—Ä–∞—Å—Ç      –ó–∞—Ä–ø–ª–∞—Ç–∞  –ß–ª–µ–Ω—ã —Å–µ–º—å–∏  –°—Ç—Ä–∞—Ö–æ–≤—ã–µ –≤—ã–ø–ª–∞—Ç—ã
count  5000.000000  5000.000000   5000.000000  5000.000000        5000.000000
mean      0.499000    30.952800  39916.360000     1.194200           0.148000
std       0.500049     8.440807   9900.083569     1.091387           0.463183
min       0.000000    18.000000   5300.000000     0.000000           0.000000
25%       0.000000    24.000000  33300.000000     0.000000           0.000000
50%       0.000000    30.000000  40200.000000     1.000000           0.000000
75%       1.000000    37.000000  46600.000000     2.000000           0.000000
max       1.000000    65.000000  79000.000000     6.000000           5.000000