<h1> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ </h1>

üëã **–ü—Ä–∏–≤–µ—Ç—Å—Ç–≤—É—é, –ê–ª–µ–∫—Å–µ–π!** 

‚ú® –ü–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –Ω–∞—á–∞–ª–æ–º —Ä–∞–±–æ—Ç—ã –Ω–∞–¥ —Ñ–∏–Ω–∞–ª—å–Ω—ã–º –ø—Ä–æ–µ–∫—Ç–æ–º!

–ú–µ–Ω—è –∑–æ–≤—É—Ç –ê—Ä—Å–µ–Ω –ê–±–¥—É–ª–∏–Ω –∏ —è –±—É–¥—É –ø—Ä–æ–≤–µ—Ä—è—Ç—å —Ç–≤–æ—é —Ä–∞–±–æ—Ç—É. –ü—Ä–µ–¥–ª–∞–≥–∞—é –æ–±—â–∞—Ç—å—Å—è –Ω–∞ ¬´—Ç—ã¬ª, –µ—Å–ª–∏ –Ω–µ –ø—Ä–æ—Ç–∏–≤=)

–ü—Ä–∏ –ø—Ä–æ–≤–µ—Ä–∫–µ —Ä–∞–±–æ—Ç —è –ø–∏—à—É —Å–ª–µ–¥—É—é—â–∏–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏:

<div class="alert alert-success">
<b>‚úîÔ∏è –ó–µ–ª–µ–Ω—ã–º —Ü–≤–µ—Ç–æ–º</b> –æ—Ç–º–µ—á–µ–Ω—ã —É–¥–∞—á–Ω—ã–µ —Ä–µ—à–µ–Ω–∏—è.</div>

<div class="alert alert-warning">
<b>‚ö†Ô∏è –ñ–µ–ª—Ç—ã–º —Ü–≤–µ—Ç–æ–º</b> —è –æ—Ç–º–µ—Ç–∏–ª –ø—É–Ω–∫—Ç—ã, –∫–æ—Ç–æ—Ä—ã–µ –≤ —Å–ª–µ–¥—É—é—â–∏–π —Ä–∞–∑ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ-–¥—Ä—É–≥–æ–º—É. –û–¥–Ω–æ-–¥–≤–∞ —Ç–∞–∫–∏—Ö –∑–∞–º–µ—á–∞–Ω–∏—è –≤ –ø—Ä–æ–µ–∫—Ç–µ –¥–æ–ø—É—Å–∫–∞–µ—Ç—Å—è, –Ω–æ –µ—Å–ª–∏ –∏—Ö –º–Ω–æ–≥–æ ‚Äî –ø—Ä–æ–µ–∫—Ç —Å–ª–µ–¥—É–µ—Ç –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å. </div>

<div class="alert alert-danger">
<b>üö´ –ö—Ä–∞—Å–Ω—ã–º —Ü–≤–µ—Ç–æ–º</b> –æ—Ç–º–µ—á–µ–Ω—ã –∫—Ä–∏—Ç–∏—á–µ—Å–∫–∏–µ –∑–∞–º–µ—á–∞–Ω–∏—è, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø–æ–ø—Ä–∞–≤–∏—Ç—å, —á—Ç–æ–±—ã –ø—Ä–∏–Ω—è—Ç—å –ø—Ä–æ–µ–∫—Ç. </div>

–ï—Å–ª–∏ –∫–∞–∫–∏–µ-—Ç–æ –º–æ–º–µ–Ω—Ç—ã –≤ –∑–∞–¥–∞–Ω–∏–∏ –¥–ª—è —Ç–µ–±—è –±—ã–ª–∏ –Ω–µ–ø–æ–Ω—è—Ç–Ω—ã –∏ —É —Ç–µ–±—è –µ—Å—Ç—å –∫–æ –º–Ω–µ –≤–æ–ø—Ä–æ—Å—ã ‚Äî —Å–º–µ–ª–æ —Å–ø—Ä–∞—à–∏–≤–∞–π üòä –¢–∞–∫–∂–µ —Ç—ã –º–æ–∂–µ—à—å –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å –º–µ—Å—Ç–∞, –≥–¥–µ –µ—Å—Ç—å –∂–µ–ª—Ç—ã–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –≤ –ø—Ä–æ–µ–∫—Ç–µ (–æ–¥–Ω–∞–∫–æ, —ç—Ç–æ –Ω–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ).

–ü—Ä–µ–¥–ª–∞–≥–∞—é —Ä–∞–±–æ—Ç–∞—Ç—å –≤ –¥–∏–∞–ª–æ–≥–µ: –µ—Å–ª–∏ —Ç—ã —Ä–µ—à–∏—à—å —á—Ç–æ-—Ç–æ –ø–æ–º–µ–Ω—è—Ç—å –ø–æ –º–æ–∏–º —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è–º ‚Äî –ø–∏—à–∏ –æ–± —ç—Ç–æ–º (–≤—ã–±–µ—Ä–∏ –¥–ª—è —Å–≤–æ–∏—Ö –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω—ã–π —Ü–≤–µ—Ç - —Ç–∞–∫ –º–Ω–µ –±—É–¥–µ—Ç –ª–µ–≥—á–µ —É–≤–∏–¥–µ—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è). –ü–æ–∂–∞–ª—É–π—Å—Ç–∞ –Ω–µ –ø–µ—Ä–µ–º–µ—â–∞–π, –Ω–µ –∏–∑–º–µ–Ω—è–π –∏ –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏. –í—Å–µ —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç —Å–¥–µ–ª–∞—Ç—å –ø—Ä–æ–≤–µ—Ä–∫—É —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞ –æ–ø–µ—Ä–∞—Ç–∏–≤–Ω–µ–µ.

<div class="alert alert-info"> <b>‚ÑπÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞: </b> –ü—Ä–∏–º–µ—Ä –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è. </div>

# –£—á–µ–±–Ω—ã–π –ü—Ä–æ–µ–∫—Ç ‚Üí ¬´–ü—Ä–æ–≥–Ω–æ–∑–∏—Ä–æ–≤–∞–Ω–∏–µ –æ—Ç—Ç–æ–∫–∞ –∫–ª–∏–µ–Ω—Ç–æ–≤¬ª

<div class="alert alert-info" role="alert" style="border-radius: 7px">
    <span style="font-size:0.7rem">Student's note 00</span>
    <p class="mb-0"><strong>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π:</strong></p>
    <p>–ê—Ä—Å–µ–Ω, –∑–¥—Ä–∞–≤—Å—Ç–≤—É–π.</p>
    <p>–°–ø–∞—Å–∏–±–æ –∑–∞ <code>–≤–≤–æ–¥–Ω—É—é –∫–æ–Ω—Å—É–ª—å—Ç–∞—Ü–∏—é</code>.</p>
</div>

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞:</b> –í—Å–µ–≥–¥–∞ –ø–æ–∂–∞–ª—É–π—Å—Ç–∞ üëç
    
</div>

## –ó–∞–¥–∞—á–∞ –ø—Ä–æ–µ–∫—Ç–∞

>–û–ø–µ—Ä–∞—Ç–æ—Ä —Å–≤—è–∑–∏ ¬´–ù–∏–µ–¥–∏–Ω–æ–≥–æ—Ä–∞–∑—Ä—ã–≤–∞.–∫–æ–º¬ª —Ö–æ—á–µ—Ç –Ω–∞—É—á–∏—Ç—å—Å—è –ø—Ä–æ–≥–Ω–æ–∑–∏—Ä–æ–≤–∞—Ç—å –æ—Ç—Ç–æ–∫ –∫–ª–∏–µ–Ω—Ç–æ–≤. –ï—Å–ª–∏ –≤—ã—è—Å–Ω–∏—Ç—Å—è, —á—Ç–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –ø–ª–∞–Ω–∏—Ä—É–µ—Ç —É–π—Ç–∏, –µ–º—É –±—É–¥—É—Ç –ø—Ä–µ–¥–ª–æ–∂–µ–Ω—ã –ø—Ä–æ–º–æ–∫–æ–¥—ã –∏ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã–µ —É—Å–ª–æ–≤–∏—è. –ö–æ–º–∞–Ω–¥–∞ –æ–ø–µ—Ä–∞—Ç–æ—Ä–∞ —Å–æ–±—Ä–∞–ª–∞ –ø–µ—Ä—Å–æ–Ω–∞–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –æ –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –∫–ª–∏–µ–Ω—Ç–∞—Ö, –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ–± –∏—Ö —Ç–∞—Ä–∏—Ñ–∞—Ö –∏ –¥–æ–≥–æ–≤–æ—Ä–∞—Ö.

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞:</b> –•–æ—Ä–æ—à–æ, –∫–æ–≥–¥–∞ –µ—Å—Ç—å –Ω–µ–±–æ–ª—å—à–æ–µ –æ–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞!
    
–ú–æ–∂–Ω–æ —Ç–∞–∫–∂–µ —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–ª—å —Ä–∞–±–æ—Ç—ã
    
</div>

‚úÖ –Ω–∞–∑–≤–∞–Ω–∏–µ –∏ –æ–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞, —Ü–µ–ª—å –ø—Ä–æ–µ–∫—Ç–∞

## –¶–µ–ª—å –ø—Ä–æ–µ–∫—Ç–∞

–°–æ–∑–¥–∞—Ç—å –º–æ–¥–µ–ª—å –¥–ª—è –ø–æ–∏—Å–∫–∞ `–∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏` –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–≥—É—Ç –ø—Ä–µ–∫—Ä–∞—Ç–∏—Ç—å –ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è —É—Å–ª—É–≥–∞–º–∏ —Å–≤—è–∑–∏ ¬´–ù–∏–µ–¥–∏–Ω–æ–≥–æ—Ä–∞–∑—Ä—ã–≤–∞.–∫–æ–º¬ª.

<hr>

In [1]:
import pandas as pd
import re
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

**–ù–∞—Å—Ç—Ä–æ–∏–º –≤–∏–¥ –≥—Ä–∞—Ñ–∏–∫–æ–≤ –ø–æ+–∫—Ä–∞—Å–æ—Ç–µ** ‚ú®

In [2]:
%config InlineBackend.figure_formats = ['svg']

In [3]:
# style MATPLOTLIBRC
custom_params = {
                'figure.figsize': (10, 6),
                'figure.facecolor': '#232425',
                'figure.dpi': 240,

                'legend.frameon': False,
                'legend.borderpad': 1.4,
                'legend.labelspacing': 0.7,
                'legend.handlelength': 0.7,
                'legend.handleheight': 0.7,

                'axes.facecolor': '#232425',
                'axes.labelcolor': '#EEEEEE',
                'axes.labelpad': 17,
                'axes.spines.left': False,
                'axes.spines.bottom': False,
                'axes.spines.right': False,
                'axes.spines.top': False,
                'axes.grid': False,

                'contour.linewidth': 0.0,

                'xtick.color': '#AAAAAA',
                'ytick.color': '#AAAAAA',
                'xtick.bottom': True,
                'xtick.top': False,
                'ytick.left': True,
                'ytick.right': False,
    
                "lines.color": '#EEEEEE',

                'text.color': '#EEEEEE',
    
                'font.family': 'sans-serif',
            }

In [4]:
# set max columns to none
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 200)

**–ö–æ–Ω—Å—Ç–∞–Ω—Ç—ã:**

In [5]:
RANDOM_SEED = 270223
DPI_K = custom_params['figure.dpi'] / mpl.rcParams['figure.dpi']
PX = 1/custom_params['figure.dpi']
PY_CASE = re.compile(r'(?<!^)(?<![A-Z])(?=[A-Z])')
TEST_SIZE = 0.25
UPDATED_AT = np.datetime64('2020-02-01')

**–§—É–Ω–∫—Ü–∏–∏:**

In [6]:
def columns_w_na(data_df):
    col_nan = data_df.columns[
            data_df.isna().any()
        ].tolist()
    df_length = len(data_df.index)

    if len(col_nan) != 0:
        print('–ö–æ–ª–æ–Ω–∫–∏ —Å NaN:')
        for col in col_nan:
            count_na = len(
                    data_df.loc[data_df[col].isna()].index
                )

            print(
                '{: .2%}'.format(count_na/df_length),
                end='\t‚Üí '
            )
            print(col, end=' ‚Üí ')
            print(count_na)
    else:
        print('–ü—Ä–æ–ø—É—Å–∫–æ–≤ NaN –≤ –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö –Ω–µ—Ç.\n')

In [7]:
def baisic_df_info(data_df, title='–ë–∞–∑–æ–≤–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è'):
    print(title,  '‚Üí –æ –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö:', end='\n\n')
    print('–î—É–±–ª–∏–∫–∞—Ç–æ–≤:',
             len(data_df.loc[data_df.duplicated()].index),
          end='\n\n'
     )
    
    columns_w_na(data_df)
    
    data_df.info()
    
    print()
    display(
        data_df.sample(5),
        data_df.describe(),
    )

In [8]:
def to_snake_case(df_columns, pattern=PY_CASE):
    to_return  = pd.Series(df_columns).apply(
            lambda c: re.sub(pattern, '_',  c ).lower()
        )
    
    return to_return

In [9]:
def to_px(size_px):
    px_density = int(
        round(
            size_px * PX * DPI_K
        )
    )
    return px_density

In [10]:
def plot_hist(data, title='Histogram', custom_params=custom_params):
    
    num_col = 2
    num_row = int(
            len(data.columns) / num_col
        ) + (len(data.columns) % num_col)
    
    with mpl.rc_context(custom_params):
        fig, axs = plt.subplots(
            nrows=num_row,
            ncols=num_col,
            figsize=(
                to_px(960), to_px(960)),
            tight_layout=True
        )
        
        for n, col_name in enumerate(data.columns):
            ax_row = int(n/2)
            ax_col = n%2
            n_bins = len(data[col_name].unique())
                
            axs[ax_row, ax_col].hist(
                data[col_name],
                bins=n_bins,
                color='forestgreen'
            )
            axs[ax_row, ax_col].set_title(col_name)
        
        fig.suptitle(title, fontsize=16)
        
        if len(data.columns) % num_col:
            fig.delaxes(axs[-1, -1])

        plt.show()

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞:</b> –û—Ç–ª–∏—á–Ω–∞—è –ø–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –ø—Ä–æ–µ–∫—Ç–∞! –ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –ø—Ä–∏–º–µ–Ω—è–µ—à—å —Ñ—É–Ω–∫—Ü–∏–∏ –∏ –≥–ª–æ–±–∞–ª—å–Ω—ã–µ –Ω–∞—Å—Ç—Ä–æ–π–∫–∏ üëç
    
</div>

**–ó–∞–≥—Ä—É–∂–∞–µ–º –Ω–∞–±–æ—Ä—ã –¥–∞–Ω–Ω—ã—Ö**

In [11]:
try:
    contract_df = pd.read_csv(
            './datasets/contract.csv',
        )
    internet_df = pd.read_csv(
            './datasets/internet.csv',
        )
    personal_df = pd.read_csv(
            './datasets/personal.csv',
        )
    phone_df = pd.read_csv(
            './datasets/phone.csv',
        )
except FileNotFoundError:
    contract_df = pd.read_csv(
            '/datasets/final_provider/contract.csv',
        )
    internet_df = pd.read_csv(
            '/datasets/final_provider/internet.csv',
        )
    personal_df = pd.read_csv(
            '/datasets/final_provider/personal.csv',
        )
    phone_df = pd.read_csv(
            '/datasets/final_provider/phone.csv',
        )
    print('FYI datasets loaded via urls')

–°–¥–µ–ª–∞–µ–º –Ω–∞–∑–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤ –ø–æ+–∫—Ä–∞—Å–æ—Ç–µ ‚Üí `snake_case`  
–í–æ –∏–º—è Python:  
<img src="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/files/python-logo-only.svg" alt="Python logo" width="27px"/>

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞:</b> –°–æ–≥–ª–∞—Å–µ–Ω, –ø—Ä–∞–≤–∏–ª—å–Ω–æ–µ —Ä–µ—à–µ–Ω–∏–µ =)
    
</div>

In [12]:
contract_df.columns  = to_snake_case(contract_df.columns)
internet_df.columns  = to_snake_case(internet_df.columns)
personal_df.columns  = to_snake_case(personal_df.columns)
phone_df.columns  = to_snake_case(phone_df.columns)

In [13]:
baisic_df_info(contract_df, title='–ö–æ–Ω—Ç—Ä–∞–∫—Ç—ã')

–ö–æ–Ω—Ç—Ä–∞–∫—Ç—ã ‚Üí –æ –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö:

–î—É–±–ª–∏–∫–∞—Ç–æ–≤: 0

–ü—Ä–æ–ø—É—Å–∫–æ–≤ NaN –≤ –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö –Ω–µ—Ç.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7043 non-null   object
 1   begin_date         7043 non-null   object
 2   end_date           7043 non-null   object
 3   type               7043 non-null   object
 4   paperless_billing  7043 non-null   object
 5   payment_method     7043 non-null   object
 6   monthly_charges    7043 non-null   float64
 7   total_charges      7043 non-null   object
dtypes: float64(1), object(7)
memory usage: 440.3+ KB

,customer_id,begin_date,end_date,type,paperless_billing,payment_method,monthly_charges,total_charges
498,6235-VDHOM,2019-07-01,2019-12-01 00:00:00,Month-to-month,No,Electronic check,28.45,131.05
651,2024-BASKD,2019-10-01,2019-11-01 00:00:00,Month-to-month,Yes,Mailed check,74.60,74.6
4161,4223-WOZCM,2019-12-01,No,Month-to-month,No,Mailed check,49.95,107.1
5921,0068-FIGTF,2017-11-01,No,One year,No,Mailed check,78.20,2078.95
2582,7145-FEJWU,2019-02-01,No,Month-to-month,Yes,Electronic check,105.30,1275.65

       monthly_charges
count      7043.000000
mean         64.761692
std          30.090047
min          18.250000
25%          35.500000
50%          70.350000
75%          89.850000
max         118.750000

In [14]:
contract_df.loc[
        contract_df['end_date'] == 'No',
        'end_date'
    ] = pd.NaT

contract_df['end_date'] = pd.to_datetime(
        contract_df['end_date']
    )

contract_df['end_date'].dt.date

print(
    '–£—à–µ–¥—à–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π',
    contract_df.loc[contract_df['end_date'].notnull(), 'customer_id'].count()
)

–£—à–µ–¥—à–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π 1869

In [15]:
contract_df['begin_date'] = pd.to_datetime(
        contract_df['begin_date']
    )

In [16]:
display(
    contract_df.loc[
        contract_df['total_charges'] == ' '
    ]
)

,customer_id,begin_date,end_date,type,paperless_billing,payment_method,monthly_charges,total_charges
488,4472-LVYGI,2020-02-01,NaT,Two year,Yes,Bank transfer (automatic),52.55,
753,3115-CZMZD,2020-02-01,NaT,Two year,No,Mailed check,20.25,
936,5709-LVOEQ,2020-02-01,NaT,Two year,No,Mailed check,80.85,
1082,4367-NUYAO,2020-02-01,NaT,Two year,No,Mailed check,25.75,
1340,1371-DWPAZ,2020-02-01,NaT,Two year,No,Credit card (automatic),56.05,
3331,7644-OMVMY,2020-02-01,NaT,Two year,No,Mailed check,19.85,
3826,3213-VVOLG,2020-02-01,NaT,Two year,No,Mailed check,25.35,
4380,2520-SGTTA,2020-02-01,NaT,Two year,No,Mailed check,20.00,
5218,2923-ARZLG,2020-02-01,NaT,One year,Yes,Mailed check,19.70,
6670,4075-WKNIU,2020-02-01,NaT,Two year,No,Mailed check,73.35,
6754,2775-SEFEE,2020-02-01,NaT,Two year,Yes,Bank transfer (automatic),61.90,

`total_charges` ¬´–ø—É—Å—Ç–æ¬ª —Ç–æ–ª—å–∫–æ —É —Ç–µ—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ:
1. –∑–∞–∫–ª—é—á–∏–ª–∏ –¥–æ–≥–æ–≤–æ—Ä –Ω–∞ 1 –≥–æ–¥ –∏–ª–∏ 2 –≥–æ–¥–∞
2. –ø–æ–¥–∫–ª—é—á–∏–ª–∏—Å—å –≤ –¥–∞—Ç—É –≤–≥—Ä—É–∑–∫–∏ –¥–∞–Ω–Ω—ã—Ö `2020-02-01`

In [17]:
long_term = ['Two year', 'One year']

In [18]:
long_term_idxs = contract_df.loc[
        contract_df['type'].isin(long_term)
    ].index

In [19]:
print(len(long_term_idxs), '–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∑–∞–∫–ª—é—á–∏–ª–∏ –¥–æ–≥–æ–≤–æ—Ä –Ω–∞ –≥–æ–¥ –∏–ª–∏ –¥–≤–∞')

3168 –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∑–∞–∫–ª—é—á–∏–ª–∏ –¥–æ–≥–æ–≤–æ—Ä –Ω–∞ –≥–æ–¥ –∏–ª–∏ –¥–≤–∞

In [20]:
display(
    contract_df.loc[
        long_term_idxs,
        (
            'begin_date',
            'end_date',
            'type',
            'monthly_charges',
            'total_charges'
        )
    ]
)

     begin_date end_date      type  monthly_charges total_charges
1    2017-04-01      NaT  One year            56.95        1889.5
3    2016-05-01      NaT  One year            42.30       1840.75
9    2014-12-01      NaT  One year            56.15       3487.95
11   2018-10-01      NaT  Two year            18.95         326.8
12   2015-04-01      NaT  One year           100.35        5681.1
...         ...      ...       ...              ...           ...
7036 2019-02-01      NaT  One year            60.65         743.3
7037 2014-02-01      NaT  Two year            21.15        1419.4
7038 2018-02-01      NaT  One year            84.80        1990.5
7039 2014-02-01      NaT  One year           103.20        7362.9
7042 2014-08-01      NaT  Two year           105.65        6844.5

[3168 rows x 5 columns]

In [21]:
print(contract_df.columns)

Index(['customer_id', 'begin_date', 'end_date', 'type', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges'],
      dtype='object')

> –ó–∞ —É—Å–ª—É–≥–∏ –∫–ª–∏–µ–Ω—Ç—ã –º–æ–≥—É—Ç –ø–ª–∞—Ç–∏—Ç—å –∫–∞–∂–¥—ã–π –º–µ—Å—è—Ü –∏–ª–∏ –∑–∞–∫–ª—é—á–∏—Ç—å –¥–æ–≥–æ–≤–æ—Ä –Ω–∞ 1‚Äì2 –≥–æ–¥–∞

In [22]:
print(
    '–ü–æ–ª—è –µ–∂–µ–º–µ—Å—è—á–Ω–∞—è –ø–ª–∞—Ç–∞ –∏ –≤—Å–µ–≥–æ –∑–∞–ø–ª–∞—á–µ–Ω–æ —Å–æ–≤–ø–∞–¥–∞—é—Ç',
    len(contract_df.loc[
            contract_df['monthly_charges'] == contract_df['total_charges']
        ].index),
    '—Ä–∞–∑'
)

–ü–æ–ª—è –µ–∂–µ–º–µ—Å—è—á–Ω–∞—è –ø–ª–∞—Ç–∞ –∏ –≤—Å–µ–≥–æ –∑–∞–ø–ª–∞—á–µ–Ω–æ —Å–æ–≤–ø–∞–¥–∞—é—Ç 0 —Ä–∞–∑

–ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏–º —á—Ç–æ **¬´–ù–∏–µ–¥–∏–Ω–æ–≥–æ—Ä–∞–∑—Ä—ã–≤–∞.–∫–æ–º¬ª** –∏—Å–ø–æ–ª—å–∑—É–µ—Ç **–ø—Ä–µ–¥–æ–ø–ª–∞—Ç–Ω—É—é** —Å–∏—Å—Ç–µ–º—É —Ä–∞—Å—á–µ—Ç–∞.  
–¢–æ–≥–¥–∞ –ø—Ä–∏—Ä–æ–≤–Ω—è–µ–º –ø—É—Å—Ç—ã–µ `total_charges` –∫ `monthly_charges`.

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞:</b> –ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –æ–±—Ä–∞—Ç–∏–ª –≤–Ω–∏–º–∞–Ω–∏–µ –Ω–∞ –ø—É—Å—Ç—ã–µ —Å—Ç—Ä–æ–∫–∏ –≤ –ø—Ä–∏–∑–Ω–∞–∫–µ TotalCharges! –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤—ã–ø–æ–ª–Ω–µ–Ω–æ —É—Å–ø–µ—à–Ω–æ
    
</div>

In [23]:
contract_df.loc[
            contract_df['total_charges'] == ' ',
            'total_charges'
    ] = contract_df.loc[
            contract_df['total_charges'] == ' ',
            'monthly_charges'
    ]

In [24]:
contract_df.loc[:, 
        ['monthly_charges', 'total_charges' ]
    ] = contract_df.loc[:, 
        ['monthly_charges', 'total_charges' ]].astype({
            'monthly_charges': 'float16',
             'total_charges': 'float32' 
        })

/tmp/ipykernel_16464/4100139373.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  contract_df.loc[:,

In [25]:
display(
    contract_df.sample(5)
)
contract_df.info()

,customer_id,begin_date,end_date,type,paperless_billing,payment_method,monthly_charges,total_charges
4461,0082-OQIQY,2017-09-01,NaT,Month-to-month,Yes,Electronic check,94.1875,2607.600098
6346,9661-MHUMO,2019-12-01,2020-01-01,Month-to-month,Yes,Credit card (automatic),49.2500,49.250000
6498,0742-NXBGR,2019-10-01,2019-11-01,Month-to-month,Yes,Electronic check,82.3125,82.300003
3768,3537-HPKQT,2015-07-01,NaT,Month-to-month,Yes,Credit card (automatic),77.7500,4266.399902
7018,1122-JWTJW,2019-10-01,2019-11-01,Month-to-month,Yes,Mailed check,70.6250,70.650002

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7043 non-null   object
 1   begin_date         7043 non-null   datetime64[ns]
 2   end_date           1869 non-null   datetime64[ns]
 3   type               7043 non-null   object
 4   paperless_billing  7043 non-null   object
 5   payment_method     7043 non-null   object
 6   monthly_charges    7043 non-null   float16
 7   total_charges      7043 non-null   float32
dtypes: datetime64[ns](2), float16(1), float32(1), object(4)
memory usage: 371.5+ KB

In [26]:
baisic_df_info(internet_df, '–ò–Ω—Ç–µ—Ä–Ω–µ—Ç')

–ò–Ω—Ç–µ—Ä–Ω–µ—Ç ‚Üí –æ –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö:

–î—É–±–ª–∏–∫–∞—Ç–æ–≤: 0

–ü—Ä–æ–ø—É—Å–∫–æ–≤ NaN –≤ –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö –Ω–µ—Ç.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        5517 non-null   object
 1   internet_service   5517 non-null   object
 2   online_security    5517 non-null   object
 3   online_backup      5517 non-null   object
 4   device_protection  5517 non-null   object
 5   tech_support       5517 non-null   object
 6   streaming_tv       5517 non-null   object
 7   streaming_movies   5517 non-null   object
dtypes: object(8)
memory usage: 344.9+ KB

,customer_id,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies
2540,4827-LTQRJ,Fiber optic,Yes,Yes,No,Yes,Yes,Yes
2697,0100-DUVFC,Fiber optic,No,Yes,Yes,No,Yes,Yes
2813,2260-USTRB,Fiber optic,No,No,No,No,No,No
2769,1301-LOPVR,DSL,Yes,Yes,Yes,Yes,No,Yes
1159,3070-BDOQC,Fiber optic,No,Yes,Yes,No,Yes,Yes

,customer_id,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies
count,5517,5517,5517,5517,5517,5517,5517,5517
unique,5517,2,2,2,2,2,2,2
top,7590-VHVEG,Fiber optic,No,No,No,No,No,No
freq,1,3096,3498,3088,3095,3473,2810,2785

In [27]:
baisic_df_info(personal_df, title='–ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏')

–ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ ‚Üí –æ –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö:

–î—É–±–ª–∏–∫–∞—Ç–æ–≤: 0

–ü—Ä–æ–ø—É—Å–∫–æ–≤ NaN –≤ –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö –Ω–µ—Ç.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     7043 non-null   object
 1   gender          7043 non-null   object
 2   senior_citizen  7043 non-null   int64
 3   partner         7043 non-null   object
 4   dependents      7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

     customer_id  gender  senior_citizen partner dependents
3481  7339-POGZN  Female               0      No         No
2990  2309-OSFEU    Male               0      No         No
6793  1320-GVNHT    Male               0     Yes        Yes
6411  5119-NZPTV    Male               1     Yes         No
3694  1150-WFARN  Female               0     Yes        Yes

       senior_citizen
count     7043.000000
mean         0.162147
std          0.368612
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000

In [28]:
baisic_df_info(phone_df, title='–¢–µ–ª–µ—Ñ–æ–Ω–∏—è')

–¢–µ–ª–µ—Ñ–æ–Ω–∏—è ‚Üí –æ –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö:

–î—É–±–ª–∏–∫–∞—Ç–æ–≤: 0

–ü—Ä–æ–ø—É—Å–∫–æ–≤ NaN –≤ –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö –Ω–µ—Ç.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361 entries, 0 to 6360
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     6361 non-null   object
 1   multiple_lines  6361 non-null   object
dtypes: object(2)
memory usage: 99.5+ KB

     customer_id multiple_lines
4481  4298-OYIFC            Yes
6287  3914-FDRHP             No
655   6549-YMFAW             No
3803  2961-VNFKL            Yes
5721  0547-HURJB             No

       customer_id multiple_lines
count         6361           6361
unique        6361              2
top     5575-GNVDE             No
freq             1           3390

‚úÖ –≤—Å–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—ã –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω—ã (–º–µ—Ç–æ–¥—ã describe(), info(), –º–æ–∂–Ω–æ –¥–æ–±–∞–≤–∏—Ç—å –≥—Ä–∞—Ñ–∏–∫–∏)

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞:</b> –ü—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö –≤—ã–ø–æ–ª–Ω–µ–Ω —É—Å–ø–µ—à–Ω–æ!
    
</div>

## –ü–ª–∞–Ω –ø—Ä–æ–µ–∫—Ç–∞

1. –ê–Ω–∞–ª–∏–∑–∏—Ä—É–µ–º –Ω–∞–±–æ—Ä—ã –¥–∞–Ω–Ω—ã—Ö  
    1.1. –ü—Ä–µ–¥–æ–±—Ä–∞–±–∞—Ç—ã–≤–∞–µ–º –¥–∞–Ω–Ω—ã–µ
2. –í—ã–±–∏—Ä–∞–µ–º –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ `features`  
    2.1. –°–º–æ—Ç—Ä–∏–º –Ω–∞ –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–∏  
    2.2. –í–∫–ª—é—á–∞–µ–º –ª–æ–≥–∏–∫—É  
    2.3. –°–æ–∑–¥–∞—ë–º –ø—Ä–∏–∑–Ω–∞–∫–∏  
    2.4. –°–æ–∑–¥–∞—ë–º `targets` –∏–∑ `'end_date'`  
    2.5. –û–±—ä–µ–¥–∏–Ω—è–µ–º –Ω–∞–±–æ—Ä—ã –¥–∞–Ω–Ω—ã—Ö –≤ –æ–¥–∏–Ω
3. –¢–µ—Å—Ç–∏—Ä—É–µ–º —Ä–∞–∑–Ω—ã–µ –º–æ–¥–µ–ª–∏  
    3.0. –î–µ–ª–∏–º –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –Ω–∞ —Ç–µ—Å—Ç–æ–≤—É—é –∏ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω—É—é –≤—ã–±–æ—Ä–∫–∏  
    3.1. `RandomForestClassifier`  
    3.2. `LogisticRegression`  
    3.3. `CatBoostClassifier`  
4. –¢–µ—Å—Ç–∏—Ä—É–µ–º –ª—É—á—à—É—é –º–æ–¥–µ–ª—å –Ω–∞ –∫—Ä–æ—Å—Å–≤–∞–ª–∏–¥–∞—Ü–∏–∏ –º–æ–¥–µ–ª—å
5. –ü–∏—à–µ–º –≤—ã–≤–æ–¥—ã

‚úÖ —Å–æ–¥–µ—Ä–∂–∞–Ω–∏–µ (–ø–ª–∞–Ω) –ø—Ä–æ–µ–∫—Ç–∞: –∑–¥–µ—Å—å –Ω—É–∂–Ω–æ –ø—Ä–∏–≤–µ—Å—Ç–∏ —Å—Ç—Ä—É–∫—Ç—É—Ä—É –ø—Ä–æ–µ–∫—Ç–∞, —Ç.–µ. –æ—Å–Ω–æ–≤–Ω—ã–µ –ø—É–Ω–∫—Ç—ã –∏ –ø–æ–¥–ø—É–Ω–∫—Ç—ã. –ü–ª–∞–Ω –¥–æ–ª–∂–µ–Ω –±—ã—Ç—å –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –ø–æ–¥—Ä–æ–±–Ω—ã–º, –æ–±—ã—á–Ω–æ–º –º–∏–Ω–∏–º—É–º 4-5 –æ—Å–Ω–æ–≤–Ω—ã—Ö –ø—É–Ω–∫—Ç–æ–≤ —Å –ø–æ–¥–ø—É–Ω–∫—Ç–∞–º–∏.

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞:</b> –ü–ª–∞–Ω —Ä–∞–±–æ—Ç –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω—ã–π –∏ –ø–æ–Ω—è—Ç–Ω—ã–π, –≤—Å–µ —Ö–æ—Ä–æ—à–æ! 
    
–ï–¥–∏–Ω—Å—Ç–≤–µ–Ω–Ω–æ–µ, –≤ —Ä–∞–±–æ—Ç–µ –Ω—É–∂–Ω–æ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ —Å–¥–µ–ª–∞—Ç—å –∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö (–¥–∏–∞–≥—Ä–∞–º–º—ã) –ø–æ—Å–ª–µ –≥–µ–Ω–µ—Ä–∞—Ü–∏–∏ –Ω–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –∏ —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π. –í–æ–∑–º–æ–∂–Ω–æ —Ç—ã –∏ —Ç–∞–∫ –ø–ª–∞–Ω–∏—Ä–æ–≤–∞–ª, –Ω–æ –≤ –ø–ª–∞–Ω–µ –Ω–µ –æ—Ç—Ä–∞–∂–µ–Ω–æ =)
    
–ü–µ—Ä–µ–¥ EDA –Ω—É–∂–Ω–æ –æ–±—ä–µ–¥–∏–Ω–∏—Ç—å —Ç–∞–±–ª–∏—Ü—ã –∏ –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏
    
</div>

### –í–æ–ø—Ä–æ—Å—ã

1. –ü—Ä–µ–¥–æ–ø–ª–∞—Ç–Ω–∞—è –ª–∏ —Å–∏—Å—Ç–µ–º–∞ —Ä–∞—Å—á—ë—Ç–æ–≤ —É **¬´–ù–∏–µ–¥–∏–Ω–æ–≥–æ—Ä–∞–∑—Ä—ã–≤–∞.–∫–æ–º¬ª?**
2. –ú–æ–∂–µ—Ç –ª–∏ –Ω–µ–π—Ä–æ–Ω–Ω–∞—è —Å–µ—Ç—å –±—ã—Ç—å –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ç–æ—Ä–æ–º, –∫–∞–∫–∞—è, —á—Ç–æ –ø–æ—á–∏—Ç–∞—Ç—å, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞?
3. –ö–∞–∫–∏–µ –¥–µ–π—Å—Ç–≤–∏—è = –ø—É–Ω–∫—Ç—ã –ø–ª–∞–Ω–∞ –º–æ–∂–Ω–æ –µ—â–µ –≤—ã–ø–æ–ª–Ω–∏—Ç—å?
4. –ì–¥–µ —Ä–∞–∑–¥–æ–±—ã—Ç—å –µ—â–µ –≤—ã–±–æ—Ä–∫—É –ø–æ —É—à–µ–¥—à–∏–º –∞–±–æ–Ω–µ–Ω—Ç–∞–º; –ú–æ–≥—É—Ç –ª–∏ **¬´–ù–∏–µ–¥–∏–Ω–æ–≥–æ—Ä–∞–∑—Ä—ã–≤–∞.–∫–æ–º¬ª** –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–∏—Ç—å –µ—â–µ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é?)
5. –ï—Å—Ç—å –ª–∏ –µ—â—ë —á—Ç–æ+—Ç–æ –≤–∞–∂–Ω–æ–µ —á—Ç–æ —Å—Ç–æ–∏—Ç —É—á–µ—Å—Ç—å –¥–æ –Ω–∞—á–∞–ª–∞ –¥–µ–π—Å—Ç–≤–∏–π, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞?

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞:</b> –ü–æ —Ç–≤–æ–∏–º –≤–æ–ø—Ä–æ—Å–∞–º:
    
1. –ú–æ–∂–Ω–æ —Å—á–∏—Ç–∞—Ç—å, —á—Ç–æ –µ—Å—Ç—å –ø—Ä–µ–¥–æ–ø–ª–∞—Ç–∞
    
2. –í –ø—Ä–∏–Ω—Ü–∏–ø–µ –ª–æ–≥–∏—Å—Ç–∏—á–µ—Å–∫–∞—è —Ä–µ–≥—Ä–µ—Å—Å–∏—è ‚Äî —ç—Ç–æ –ø—Ä–æ—Å—Ç–µ–π—à–∞—è –Ω–µ–π—Ä–æ–Ω–Ω–∞—è —Å–µ—Ç—å =) –í –¥–∞–Ω–Ω–æ–º –ø—Ä–æ–µ–∫—Ç–µ –Ω–µ —Ç—Ä–µ–±—É–µ—Ç—Å—è –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏—è —Å –ø–æ–º–æ—â—å—é –Ω–µ–π—Ä–æ–Ω–∫–∏, –Ω–æ —Ç—ã –∫–æ–Ω–µ—á–Ω–æ –º–æ–∂–µ—à—å –ø–æ–ø—Ä–æ–±–æ–≤–∞—Ç—å, –µ—Å–ª–∏ –µ—Å—Ç—å –æ–ø—ã—Ç. –í —Ü–µ–ª–æ–º –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–∏—Ö –∑–∞–¥–∞—á –ø–æ –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏ –≤ –Ω–∞—Å—Ç–æ—è—â–µ–µ –≤—Ä–µ–º—è –∏—Å–ø–æ–ª—å–∑—É—é—Ç –º–æ–¥–µ–ª–∏ –±—É—Å—Ç–∏–Ω–≥–æ–≤, –∏–º–µ–Ω–Ω–æ –æ–Ω–∏ –¥–∞—é—Ç —Ö–æ—Ä–æ—à–∏–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã. 
    
–ù–µ–π—Ä–æ–Ω–∫–∏ –±–æ–ª—å—à–µ –∏—Å–ø–æ–ª—å–∑—É—é—Ç—Å—è –≤ –∫–æ–º–ø—å—é—Ç–µ—Ä–Ω–æ–º –∑—Ä–µ–Ω–∏–∏, –∞–Ω–∞–ª–∏–∑–µ —Ç–µ–∫—Å—Ç–æ–≤. 
    
–ù–µ–ø–ª–æ—Ö–æ–π –ø—Ä–∏–º–µ—Ä —Å —Ä–µ—à–µ–Ω–∏–µ–º –∑–∞–¥–∞—á–∏ –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏ —Å –ø–æ–º–æ—â—å—é –Ω–µ–π—Ä–æ—Å–µ—Ç–∏:
    
https://www.kaggle.com/code/shrutimechlearn/deep-tutorial-1-ann-and-classification
    
3. –°–¥–µ–ª–∞—Ç—å –∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑ (–ø–æ—Å—Ç—Ä–æ–∏—Ç—å –≥—Ä–∞—Ñ–∏–∫–∏) –¥–ª—è —É—à–µ–¥—à–∏—Ö –∏ –æ—Å—Ç–∞–≤—à–∏—Ö—Å—è –∫–ª–∏–µ–Ω—Ç–æ–≤. –°–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ –ø—Ä–∏–∑–Ω–∞–∫–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä –µ–∂–µ–º–µ—Å—è—á–Ω—ã–µ –ø–ª–∞—Ç–µ–∂–∏, –±—É–¥—É—Ç –æ—Ç–ª–∏—á–∞—Ç—å—Å—è.
    
–ö–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –¥–µ–ª–∞–µ–º –ø–æ—Å–ª–µ –¥–µ–ª–µ–Ω–∏—è –Ω–∞ –≤—ã–±–æ—Ä–∫–∏, —Ç–∞–∫–∂–µ –º–∞—Å—à—Ç–∞–±–∏—Ä–æ–≤–∞–Ω–∏–µ (—Ç—Ä–µ–±—É–µ—Ç—Å—è –¥–ª—è –ª–∏–Ω–µ–π–Ω—ã—Ö –º–æ–¥–µ–ª–µ–π)
    
4. –ü–æ–∫–∞ —ç—Ç–æ –≤—Å–µ, —á—Ç–æ –µ—Å—Ç—å )) –ù–µ –∑–∞–±—É–¥—å —É—á–µ—Å—Ç—å –¥–∏—Å–±–∞–ª–∞–Ω—Å –∫–ª–∞—Å—Å–æ–≤ –ø—Ä–∏ –æ–±—É—á–µ–Ω–∏–∏ –º–æ–¥–µ–ª–µ–π. –ú–æ–∂–Ω–æ –∫–æ–Ω–µ—á–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –±–∏–±–ª–∏–æ—Ç–µ–∫—É imblearn –¥–ª—è –±–∞–ª–∞–Ω—Å–∏—Ä–æ–≤–∫–∏, –Ω–æ —Ç–æ–≥–¥–∞ –Ω—É–∂–µ–Ω pipeline
    
5. –ù—É –≤—Ä–æ–¥–µ –±—ã –≤—Å–µ, –≥–ª–∞–≤–Ω–æ–µ —á—Ç–æ–±—ã –Ω–µ –±—ã–ª–æ —É—Ç–µ—á–∫–∏ –¥–∞–Ω–Ω—ã—Ö –∏–∑ —Ç–µ—Å—Ç–∞ –≤ –æ–±—É—á–µ–Ω–∏–µ. –ö–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–µ–π –ø—Ä–æ–≤–µ—Ä—è–µ–º –Ω–∞ –∫—Ä–æ—Å—Å-–≤–∞–ª–∏–¥–∞—Ü–∏–∏.
    
–ï—Å–ª–∏ —á—Ç–æ, –ø–∏—à–∏ –≤ –ü–∞—á–∫–µ –ø–æ –≤—Å–µ–º –≤–æ–ø—Ä–æ—Å–∞–º
    
</div>

‚úÖ –≤–æ–ø—Ä–æ—Å—ã –∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∫ —Ç–∏–º–ª–∏–¥—É (–µ—Å–ª–∏ –≤–æ–ø—Ä–æ—Å–æ–≤ –Ω–µ—Ç, –Ω—É–∂–Ω–æ —è–≤–Ω–æ –ø—Ä–æ —ç—Ç–æ –Ω–∞–ø–∏—Å–∞—Ç—å, –∏–Ω–∞—á–µ –ø—Ä–æ–µ–∫—Ç –±—É–¥–µ—Ç –≤–æ–∑–≤—Ä–∞—â–µ–Ω –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è –≤–æ–∑–º–æ–∂–Ω—ã—Ö –≤–æ–ø—Ä–æ—Å–æ–≤ —Å—Ç—É–¥–µ–Ω—Ç–∞)

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞:</b> –ü–ª–∞–Ω —Ä–∞–±–æ—Ç –ø—Ä–∏–Ω—è—Ç, –º–æ–∂–Ω–æ –ø—Ä–∏—Å—Ç—É–ø–∞—Ç—å –∫ –æ—Å–Ω–æ–≤–Ω–æ–º—É –ø—Ä–æ–µ–∫—Ç—É. 
    
–ü–æ–∂–∞–ª—É–π—Å—Ç–∞ —Å–æ—Ö—Ä–∞–Ω–∏ –Ω–∞—à–∏ —Å —Ç–æ–±–æ–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –∞ –ø—Ä–æ–µ–∫—Ç –ø—Ä–æ–¥–æ–ª–∂–∞–π –¥–µ–ª–∞—Ç—å –≤ —ç—Ç–æ–º –∂–µ –¥–æ–∫—É–º–µ–Ω—Ç–µ, —É—Å–ø–µ—Ö–æ–≤!
    
</div>

<hr>

## –û—Å–Ω–æ–≤–Ω–∞—è –ß–∞—Å—Ç—å –ü—Ä–æ–µ–∫—Ç–∞

–û–±—ä–µ–¥–∏–Ω–∏–º –Ω–∞–±–æ—Ä—ã –¥–∞–Ω–Ω—ã—Ö –≤ –æ–¥–∏–Ω

> Joining multiple DataFrames only supported for joining on index  

–ü–æ—ç—Ç–æ–º—É –∏–Ω–¥–µ–∫—Å–∞–º–∏ –Ω–∞–∑–Ω–∞—á–∏–º `customer_id`

In [29]:
contract_df.set_index('customer_id', drop=True, inplace=True)
internet_df.set_index('customer_id', drop=True, inplace=True)
personal_df.set_index('customer_id', drop=True, inplace=True)
phone_df.set_index('customer_id', drop=True, inplace=True)

In [30]:
total_df = personal_df.join(
        [contract_df, internet_df, phone_df],
        # on='customer_id',
        how='left',
        sort=False,
    )

In [31]:
display(list(total_df.columns))

['gender',
 'senior_citizen',
 'partner',
 'dependents',
 'begin_date',
 'end_date',
 'type',
 'paperless_billing',
 'payment_method',
 'monthly_charges',
 'total_charges',
 'internet_service',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'multiple_lines']

In [32]:
cat_features = [
    'gender',
    'senior_citizen',
    'partner',
    'dependents',
    'type',
    'paperless_billing',
    'payment_method',
    'internet_service',
    'online_security',
    'online_backup',
    'device_protection',
    'tech_support',
    'streaming_tv',
    'streaming_movies',
    'multiple_lines',
]

DataFrame.join(
    other,
    on=None,
    how='left',
    lsuffix='',
    suffix='',
    sort=False,
    validate=None
)

### –ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–π –ê–Ω–∞–ª–∏–∑ –î–∞–Ω–Ω—ã—Ö

In [33]:
total_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 7590-VHVEG to 3186-AJIEK
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             7043 non-null   object
 1   senior_citizen     7043 non-null   int64
 2   partner            7043 non-null   object
 3   dependents         7043 non-null   object
 4   begin_date         7043 non-null   datetime64[ns]
 5   end_date           1869 non-null   datetime64[ns]
 6   type               7043 non-null   object
 7   paperless_billing  7043 non-null   object
 8   payment_method     7043 non-null   object
 9   monthly_charges    7043 non-null   float16
 10  total_charges      7043 non-null   float32
 11  internet_service   5517 non-null   object
 12  online_security    5517 non-null   object
 13  online_backup      5517 non-null   object
 14  device_protection  5517 non-null   object
 15  tech_support       5517 non-null   object
 16  streaming_tv       5517 non-null   object
 17  streaming_movies   5517 non-null   object
 18  multiple_lines     6361 non-null   object
dtypes: datetime64[ns](2), float16(1), float32(1), int64(1), object(14)
memory usage: 1.0+ MB

In [34]:
for column in cat_features:
    print(
        column,
        list(total_df[column].unique()),
        sep='\n\t',
        end='\n'*2
    )

gender
	['Female', 'Male']

senior_citizen
	[0, 1]

partner
	['Yes', 'No']

dependents
	['No', 'Yes']

type
	['Month-to-month', 'One year', 'Two year']

paperless_billing
	['Yes', 'No']

payment_method
	['Electronic check', 'Mailed check', 'Bank transfer (automatic)', 'Credit card (automatic)']

internet_service
	['DSL', 'Fiber optic', nan]

online_security
	['No', 'Yes', nan]

online_backup
	['Yes', 'No', nan]

device_protection
	['No', 'Yes', nan]

tech_support
	['No', 'Yes', nan]

streaming_tv
	['No', 'Yes', nan]

streaming_movies
	['No', 'Yes', nan]

multiple_lines
	[nan, 'No', 'Yes']

In [35]:
cstmrs_without_phone = total_df.loc[
        total_df['multiple_lines'].isna()
    ].index

display(
    total_df.loc[
        cstmrs_without_phone,
        'internet_service'
    ].unique()
)
print(len(cstmrs_without_phone), '–∞–±–æ–Ω–µ–Ω—Ç–∞ –Ω–µ –ø–æ–ª—å–∑—É—é—Ç—Å—è —Ç–µ–ª–µ—Ñ–æ–Ω–∏–µ–π')

array(['DSL'], dtype=object)

682 –∞–±–æ–Ω–µ–Ω—Ç–∞ –Ω–µ –ø–æ–ª—å–∑—É—é—Ç—Å—è —Ç–µ–ª–µ—Ñ–æ–Ω–∏–µ–π

In [36]:
total_df.loc[
        cstmrs_without_phone,
        'multiple_lines'
    ] = 'without phone'

In [37]:
cstmrs_without_internet = total_df.loc[
        total_df['internet_service'].isna()
    ].index

display(
    total_df.loc[
        cstmrs_without_internet,
        'multiple_lines'
    ].unique()
)
print(len(cstmrs_without_internet), '–∞–±–æ–Ω–µ–Ω—Ç–∞ –Ω–µ –ø–æ–ª—å–∑—É—é—Ç—Å—è –∏–Ω—Ç–µ—Ä–Ω–µ—Ç–æ–º')

array(['No', 'Yes'], dtype=object)

1526 –∞–±–æ–Ω–µ–Ω—Ç–∞ –Ω–µ –ø–æ–ª—å–∑—É—é—Ç—Å—è –∏–Ω—Ç–µ—Ä–Ω–µ—Ç–æ–º

In [38]:
total_df.loc[
        cstmrs_without_internet,
        'internet_service'
    ] = 'without internet'

In [39]:
display(list(internet_df.columns))

['internet_service',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies']

In [40]:
add_internet_services = [
    'online_security',
    'online_backup',
    'device_protection',
    'tech_support',
    'streaming_tv',
    'streaming_movies'
]

–û–± –∞–±–æ–Ω–µ—Ç–Ω–∞—Ö, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –ø–æ–ª—å–∑—É—é—Ç—Å—è –∏–Ω—Ç–µ—Ä–Ω–µ—Ç–æ–º –º—ã –∑–Ω–∞–µ–º –ø–æ `internet_service == 'without internet'`. –ü–æ—ç—Ç–æ–º—É –¥–ª—è —Ç–∞–∫–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∑–∞–ø–æ–ª–Ω–∏–º `NaN` –≤ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã—Ö –∏–Ω—Ç–µ—Ä–Ω–µ—Ç —É—Å–ª—É–≥–∞—Ö –∫–∞–∫ `No`. –ß—Ç–æ–±—ã –Ω–µ —Ä–∞–∑–¥—É–≤–∞—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤.

In [41]:
for add_i_serv in add_internet_services:
    total_df.loc[
        cstmrs_without_internet,
        add_i_serv
    ] = 'No'

In [42]:
total_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 7590-VHVEG to 3186-AJIEK
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             7043 non-null   object
 1   senior_citizen     7043 non-null   int64
 2   partner            7043 non-null   object
 3   dependents         7043 non-null   object
 4   begin_date         7043 non-null   datetime64[ns]
 5   end_date           1869 non-null   datetime64[ns]
 6   type               7043 non-null   object
 7   paperless_billing  7043 non-null   object
 8   payment_method     7043 non-null   object
 9   monthly_charges    7043 non-null   float16
 10  total_charges      7043 non-null   float32
 11  internet_service   7043 non-null   object
 12  online_security    7043 non-null   object
 13  online_backup      7043 non-null   object
 14  device_protection  7043 non-null   object
 15  tech_support       7043 non-null   object
 16  streaming_tv       7043 non-null   object
 17  streaming_movies   7043 non-null   object
 18  multiple_lines     7043 non-null   object
dtypes: datetime64[ns](2), float16(1), float32(1), int64(1), object(14)
memory usage: 1.3+ MB

–°–æ–∑–¥–∞–¥–∏–º –ø—Ä–∏–∑–Ω–∞–∫ ‚Üí `target`

In [56]:
# total_df['target'] = 0
total_df['target'] = total_df['end_date'].apply(
        lambda ed: 1 if pd.notna(ed) else 0
    )

In [57]:
display(total_df['target'].describe())

count    7043.000000
mean        0.265370
std         0.441561
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: target, dtype: float64

–°–æ–∑–¥–∞–¥–∏–º –Ω–æ–≤—ã–π –ø—Ä–∏–∑–Ω–∞–∫ ‚Üí `months_of_usage` ‚Üí –∫–æ–ª–ª–∏—á–µ—Å—Ç–≤–æ –º–µ—Å—è—Ü–µ–≤ –∫–æ—Ç–æ—Ä–æ–µ –∞–±–æ–Ω–µ–Ω—Ç –ø–æ–ª—å–∑—É–µ—Ç—Å—è —É—Å–ª—É–≥–∞–º–∏ **¬´–ù–∏–µ–¥–∏–Ω–æ–≥–æ—Ä–∞–∑—Ä—ã–≤–∞.–∫–æ–º¬ª**

In [43]:
total_df['months_of_usage'] = 0

In [44]:
total_df.loc[
        total_df['end_date'].notna(),
        'months_of_usage'
    ] = (
            total_df.loc[
                total_df['end_date'].notna(),
                'end_date'
            ]
            - total_df.loc[
                total_df['end_date'].notna(),
                'begin_date'
            ]
        ) / np.timedelta64(1, 'M')

In [45]:
total_df.loc[
        total_df['end_date'].isna(),
        'months_of_usage'
    ] = (
            UPDATED_AT
            - total_df.loc[
                total_df['end_date'].isna(),
                'begin_date'
            ]
        ) / np.timedelta64(1, 'M')

In [46]:
display(
    total_df['months_of_usage'].describe()
)

count    7043.000000
mean       32.394790
std        24.561912
min         0.000000
25%         8.969383
50%        29.010863
75%        55.064786
max        71.985051
Name: months_of_usage, dtype: float64

In [47]:
display(
    total_df['months_of_usage'].sample(5)
)

customer_id
2834-SPCJV    52.009282
8393-DLHGA    25.002567
7601-WFVZV     1.018501
4369-HTUIF     6.045299
8807-OPMBM    55.064786
Name: months_of_usage, dtype: float64

In [60]:
display(
    total_df.loc[
        (total_df['months_of_usage'] >= 1)
        & (total_df['months_of_usage'] < 1.2),
        ['months_of_usage', 'monthly_charges', 'total_charges', 'target']
    ].sample(10)
)

             months_of_usage  monthly_charges  total_charges  target
customer_id
6959-UWKHF          1.018501        42.906250      42.900002       1
1496-GGSUK          1.018501        25.703125      25.700001       1
0817-HSUSE          1.018501        75.500000      75.500000       0
1942-OQFRW          1.018501        44.000000      44.000000       0
4702-IOQDC          1.018501        70.125000      70.099998       1
4786-UKSNZ          1.018501        20.203125      20.200001       1
8885-QSQBX          1.018501        49.562500      49.549999       0
8775-ERLNB          1.018501        74.312500      74.300003       0
5494-HECPR          1.018501        80.250000      80.250000       1
5088-QZLRL          1.018501        20.656250      20.650000       0

<hr>

pip install pandas-profiling

üîó [Exploratory Data Analysis with Pandas Profiling](https://towardsdatascience.com/exploratory-data-analysis-with-pandas-profiling-de3aae2ddff3)

<hr>

## –û—Ç—á–µ—Ç

to be continued‚Ä¶

<hr>

>‚úçÔ∏è –û—Å–Ω–æ–≤–Ω—ã–µ —Ç–µ–∑–∏—Å—ã –≤–≤–æ–¥–Ω–æ–π –∫–æ–Ω—Å—É–ª—å—Ç–∞—Ü–∏–∏:
> - —Ñ–∏–∫—Å–∏—Ä—É–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä RANDOM_STATE = 270223 (–¥–∞—Ç–∞ –Ω–∞—á–∞–ª–∞ —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞);
> - –¥–µ–¥–ª–∞–π–Ω —Å–¥–∞—á–∏ –æ—Ç—á–µ—Ç–∞ 11 –º–∞—Ä—Ç–∞ 23:59 –ø–æ –º—Å–∫ (–≤—Ç–æ—Ä–∞—è —Å—É–±–±–æ—Ç–∞);
> - —Ä–∞–∑–º–µ—Ä —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–∏: test_size = 0.25 (—Å—Ç—Ä–æ–≥–æ!!!);
> - —Ä–µ–∫–æ–º–µ–Ω–¥—É–µ—Ç—Å—è –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å OneHotEncoder –¥–ª—è –∫–æ–¥–∏—Ä–æ–≤–∞–Ω–∏—è –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤. –ö–æ–¥–∏—Ä—É–µ–º –ø–æ—Å–ª–µ —Ä–∞–∑–¥–µ–ª–µ–Ω–∏—è –Ω–∞ train –∏ test, —á—Ç–æ–±—ã –Ω–µ –±—ã–ª–æ —É—Ç–µ—á–∫–∏ –≤ –¥–∞–Ω–Ω—ã—Ö;
> - –µ—Å–ª–∏ –ø—Ä–∏ –∫–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–∏ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è get_dummies, —Ç–æ –Ω—É–∂–Ω–æ —Å—Ä–∞–≤–Ω–∏—Ç—å —Å–ø–∏—Å–∫–∏ –ø–æ–ª—É—á–∏–≤—à–∏—Ö—Å—è –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ (–¥–æ–ª–∂–Ω–æ –±—ã—Ç—å –ø–æ–ª–Ω–æ–µ —Å–æ–≤–ø–∞–¥–µ–Ω–∏–µ);
> - –ø–æ–º–∏–º–æ –æ—Å–Ω–æ–≤–Ω–æ–π —á–∞—Å—Ç–∏, –≤ –ø—Ä–æ–µ–∫—Ç–µ –Ω—É–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—é –≥—Ä–∞—Ñ–∏–∫–æ–≤, –∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç—å –∫–æ—Ä—Ä–µ–ª—è—Ü–∏—é –ø—Ä–∏–∑–Ω–∞–∫–æ–≤. –î–ª—è —á–∏—Å–ª–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –∏—Å–ø–æ–ª—å–∑—É–µ–º –∫–æ—Ä—Ä–µ–ª—è—Ü–∏—é –°–ø–∏—Ä–º–µ–Ω–∞, –¥–ª—è –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö - –ö—Ä–∞–º–µ—Ä–∞. –ú–æ–∂–Ω–æ –ø—Ä–∏–º–µ–Ω—è—Ç—å –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç —Ñ–∏-–∫–æ—Ä—Ä–µ–ª—è—Ü–∏–∏ –¥–ª—è —Å–º–µ—à–∞–Ω–Ω–æ–≥–æ –Ω–∞–±–æ—Ä–∞ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ (–±–∏–±–ª–∏–æ—Ç–µ–∫–∞ phik);
> - –¥–ª—è –ª–∏–Ω–µ–π–Ω—ã—Ö –º–æ–¥–µ–ª–µ–π –Ω—É–∂–Ω–æ –º–∞—Å—à—Ç–∞–±–∏—Ä–æ–≤–∞—Ç—å —á–∏—Å–ª–æ–≤—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏;
> - –ø—Ä–æ –±–∞–ª–∞–Ω—Å –∫–ª–∞—Å—Å–æ–≤: Upsampling –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –Ω–µ –Ω—É–∂–Ω–æ (!!!), –ª—É—á—à–µ –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ –±–∞–ª–∞–Ω—Å–∏—Ä–æ–≤–∫—É –∫–ª–∞—Å—Å–æ–≤ –≤–Ω—É—Ç—Ä–∏ –º–æ–¥–µ–ª–∏;
> - –Ω–∞ –≤—ã–±–æ—Ä–∫–µ test –ø—Ä–æ–≤–µ—Ä—è–µ—Ç—Å—è —Ç–æ–ª—å–∫–æ –æ–¥–Ω–∞ –ª—É—á—à–∞—è –º–æ–¥–µ–ª—å, –∞ —Å—Ä–∞–≤–Ω–µ–Ω–∏–µ –º–æ–¥–µ–ª–µ–π –¥–µ–ª–∞–µ–º —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –∫—Ä–æ—Å—Å-–≤–∞–ª–∏–¥–∞—Ü–∏–∏.
  
¬© –ê—Ä—Å–µ–Ω –ê–±–¥—É–ª–∏–Ω