# –Ø–Ω–¥–µ–∫—Å –ù–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å

## –®–∞–≥ 1. –û—Ç–∫—Ä–æ–π—Ç–µ —Ñ–∞–π–ª —Å –¥–∞–Ω–Ω—ã–º–∏ –∏ –∏–∑—É—á–∏—Ç–µ –æ–±—â—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é

In [1]:
import pandas as pd

In [2]:
real_estate_data = pd.read_csv('./datasets/real_estate_data.csv', sep='\t')

In [3]:
display(real_estate_data.head())

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,NaN,...,25.0,NaN,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000.0,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,NaN,...,11.0,2.0,–ø–æ—Å—ë–ª–æ–∫ –®—É—à–∞—Ä—ã,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000.0,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,NaN,...,8.3,0.0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,...,NaN,0.0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000.0,100.0,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,NaN,...,41.0,NaN,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0

In [4]:
display(real_estate_data['is_apartment'].unique())

array([nan, False, True], dtype=object)

<div class="alert alert-info" role="alert">
    <p class="mb-0">–ö–∞–∫ –ø–æ–ª—É—á–∏—Ç—å <code>list</code> –∫–æ–ª–æ–Ω–æ–∫ —Å <code>NaN</code> –Ω–∞—à—ë–ª –Ω–∞ <code>stackoverflow</code> üëå</p>
</div>

In [5]:
display(
    real_estate_data.columns[real_estate_data.isna().any()].tolist()
)

['ceiling_height',
 'floors_total',
 'living_area',
 'is_apartment',
 'kitchen_area',
 'balcony',
 'locality_name',
 'airports_nearest',
 'cityCenters_nearest',
 'parks_around3000',
 'parks_nearest',
 'ponds_around3000',
 'ponds_nearest',
 'days_exposition']

–î–æ–±—Ä–æ, –≤–æ—Ç —Å —ç—Ç–∏–º–∏ –∫–æ–ª–æ–Ω–∫–∞–º–∏ –Ω—É–∂–Ω–æ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è –≤ –Ω–∏—Ö –ø—Ä–æ–ø—É—Å–∫–∏ ‚Äî `NaN`

In [6]:
display(real_estate_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  float64
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               12180 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), float64(14), int64(3), object(3)
memory usage: 3.7+ MB

None

In [7]:

for column in real_estate_data.columns:
    count_of_nan = len(real_estate_data.loc[real_estate_data[column].isna()][column])
    if count_of_nan > 0:
        print(column, end=' NaN = ')
        print(count_of_nan)
        print(real_estate_data[column].describe(), end='\n\n')

ceiling_height NaN = 9195
count    14504.000000
mean         2.771499
std          1.261056
min          1.000000
25%          2.520000
50%          2.650000
75%          2.800000
max        100.000000
Name: ceiling_height, dtype: float64

floors_total NaN = 86
count    23613.000000
mean        10.673824
std          6.597173
min          1.000000
25%          5.000000
50%          9.000000
75%         16.000000
max         60.000000
Name: floors_total, dtype: float64

living_area NaN = 1903
count    21796.000000
mean        34.457852
std         22.030445
min          2.000000
25%         18.600000
50%         30.000000
75%         42.300000
max        409.700000
Name: living_area, dtype: float64

is_apartment NaN = 20924
count      2775
unique        2
top       False
freq       2725
Name: is_apartment, dtype: object

kitchen_area NaN = 2278
count    21421.000000
mean        10.569807
std          5.905438
min          1.300000
25%          7.000000
50%          9.100000
75%         12.000000
max        112.000000
Name: kitchen_area, dtype: float64

balcony NaN = 11519
count    12180.000000
mean         1.150082
std          1.071300
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max          5.000000
Name: balcony, dtype: float64

locality_name NaN = 49
count               23650
unique                364
top       –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥
freq                15721
Name: locality_name, dtype: object

airports_nearest NaN = 5542
count    18157.000000
mean     28793.672193
std      12630.880622
min          0.000000
25%      18585.000000
50%      26726.000000
75%      37273.000000
max      84869.000000
Name: airports_nearest, dtype: float64

cityCenters_nearest NaN = 5519
count    18180.000000
mean     14191.277833
std       8608.386210
min        181.000000
25%       9238.000000
50%      13098.500000
75%      16293.000000
max      65968.000000
Name: cityCenters_nearest, dtype: float64

parks_around3000 NaN = 5518
count    18181.000000
mean         0.611408
std          0.802074
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          3.000000
Name: parks_around3000, dtype: float64

parks_nearest NaN = 15620
count    8079.000000
mean      490.804555
std       342.317995
min         1.000000
25%       288.000000
50%       455.000000
75%       612.000000
max      3190.000000
Name: parks_nearest, dtype: float64

ponds_around3000 NaN = 5518
count    18181.000000
mean         0.770255
std          0.938346
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          3.000000
Name: ponds_around3000, dtype: float64

ponds_nearest NaN = 14589
count    9110.000000
mean      517.980900
std       277.720643
min        13.000000
25%       294.000000
50%       502.000000
75%       729.000000
max      1344.000000
Name: ponds_nearest, dtype: float64

days_exposition NaN = 3181
count    20518.000000
mean       180.888634
std        219.727988
min          1.000000
25%         45.000000
50%         95.000000
75%        232.000000
max       1580.000000
Name: days_exposition, dtype: float64

## –®–∞–≥ 2. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏ –∏–∑—É—á–∏—Ç–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è:
–î–ª—è –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –º–æ–∂–Ω–æ –ø—Ä–µ–¥–ø–æ–ª–æ–∂–∏—Ç—å –ª–æ–≥–∏—á–Ω—É—é –∑–∞–º–µ–Ω—É. –ù–∞–ø—Ä–∏–º–µ—Ä, –µ—Å–ª–∏ —á–µ–ª–æ–≤–µ–∫ –Ω–µ —É–∫–∞–∑–∞–ª —á–∏—Å–ª–æ –±–∞–ª–∫–æ–Ω–æ–≤ ‚Äî —Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ, –∏—Ö –Ω–µ—Ç. –¢–∞–∫–∏–µ –ø—Ä–æ–ø—É—Å–∫–∏ –ø—Ä–∞–≤–∏–ª—å–Ω–æ –∑–∞–º–µ–Ω–∏—Ç—å –Ω–∞ 0. –î–ª—è –¥—Ä—É–≥–∏—Ö —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö –Ω–µ—Ç –ø–æ–¥—Ö–æ–¥—è—â–µ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è –Ω–∞ –∑–∞–º–µ–Ω—É. –í —ç—Ç–æ–º —Å–ª—É—á–∞–µ –ø—Ä–∞–≤–∏–ª—å–Ω–æ –æ—Å—Ç–∞–≤–∏—Ç—å —ç—Ç–∏ –∑–Ω–∞—á–µ–Ω–∏—è –ø—É—Å—Ç—ã–º–∏. –û—Ç—Å—É—Ç—Å—Ç–≤–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è ‚Äî —Ç–æ–∂–µ –≤–∞–∂–Ω—ã–π —Å–∏–≥–Ω–∞–ª, –∫–æ—Ç–æ—Ä—ã–π –Ω–µ –Ω—É–∂–Ω–æ –ø—Ä—è—Ç–∞—Ç—å.

–ó–∞–ø–æ–ª–Ω–∏—Ç–µ –ø—Ä–æ–ø—É—Å–∫–∏, –≥–¥–µ —ç—Ç–æ —É–º–µ—Å—Ç–Ω–æ. –û–ø–∏—à–∏—Ç–µ, –ø–æ—á–µ–º—É –≤—ã —Ä–µ—à–∏–ª–∏ –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –∏–º–µ–Ω–Ω–æ –≤ —ç—Ç–∏—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö –∏ –∫–∞–∫ –≤—ã–±—Ä–∞–ª–∏ –∑–Ω–∞—á–µ–Ω–∏—è.
–£–∫–∞–∂–∏—Ç–µ –ø—Ä–∏—á–∏–Ω—ã, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–≥–ª–∏ –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ –ø—Ä–æ–ø—É—Å–∫–∞–º –≤ –¥–∞–Ω–Ω—ã—Ö.

In [8]:
real_estate_data['is_apartment'].fillna(value=False, inplace=True)
real_estate_data['balcony'].fillna(value=0, inplace=True)

In [9]:
display(
    real_estate_data.loc[real_estate_data['locality_name']
                         .isna()].head(5)
)
#real_estate_data['locality_name'].fillna(value=False, inplace=True)

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
1097,3,8600000.0,81.7,2016-04-15T00:00:00,3,3.55,5.0,50.8,2,False,...,8.8,0.0,NaN,23478.0,4258.0,0.0,NaN,0.0,NaN,147.0
2033,6,5398000.0,80.0,2017-05-30T00:00:00,3,NaN,4.0,42.6,2,False,...,18.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0
2603,20,3351765.0,42.7,2015-09-20T00:00:00,1,NaN,24.0,15.6,3,False,...,10.7,0.0,NaN,22041.0,17369.0,0.0,NaN,1.0,374.0,276.0
2632,2,5130593.0,62.4,2015-10-11T00:00:00,2,NaN,24.0,33.1,21,False,...,8.2,0.0,NaN,22041.0,17369.0,0.0,NaN,1.0,374.0,256.0
3574,10,4200000.0,46.5,2016-05-28T00:00:00,2,NaN,5.0,30.8,5,False,...,6.5,0.0,NaN,27419.0,8127.0,0.0,NaN,1.0,603.0,45.0

In [10]:
display(
    real_estate_data.columns[real_estate_data.isna().any()].tolist()
)

['ceiling_height',
 'floors_total',
 'living_area',
 'kitchen_area',
 'locality_name',
 'airports_nearest',
 'cityCenters_nearest',
 'parks_around3000',
 'parks_nearest',
 'ponds_around3000',
 'ponds_nearest',
 'days_exposition']

    ‚ùå 'ceiling_height' ‚Äî —Å–¥–µ–ª–∞–µ–º `NaN` –º–µ–¥–∏–∞–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –ø–æ —Ä–∞–π–æ–Ω—É
    ‚ùå 'floors_total' ‚Äî —Å–¥–µ–ª–∞–µ–º `NaN` –º–µ–¥–∏–∞–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –ø–æ —Ä–∞–π–æ–Ω—É
    ‚ùå 'living_area' ‚Äî —Å–¥–µ–ª–∞–µ–º `NaN` –º–µ–¥–∏–∞–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –ø–æ –¥–∏–∞–ø–∞–∑–æ–Ω–∞–º —Ü–µ–Ω –∏ —Ä–∞–π
    ‚úÖ 'is_apartment'
    ‚ùå 'kitchen_area' ‚Äî –µ—Å–ª–∏ —Å—Ç—É–¥–∏—è —Ç–æ –∫—É—Ö–Ω—è `NaN` –ø—Ä–æ–≤–µ—Ä–∏–º, –µ—Å–ª–∏ –¥–∞ —Ç–æ —Å–¥–µ–ª–∞–µ–º 0
    ‚úÖ 'balcony'
    ‚ùå 'locality_name' ‚Äî —Å–Ω–∞—á–∞–ª–∞ —É–¥–∞–ª–∏–º –Ω–µ—è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã
    ‚ùå 'airports_nearest' ‚Äî –ø—Ä–æ–≤–µ—Ä–∏–º –ø–æ —Ä–∞–π–æ–Ω–∞–º, –º–æ–∂–µ—Ç –∏ –Ω–µ—Ç –±–ª–∏–∂–∞–π—à–∏—Ö –∞—ç—Ä–æ–ø–æ—Ä—Ç–æ–≤ —Ç–æ–≥–¥–∞ `NaN` = 0
    ‚ùå 'cityCenters_nearest' ‚Äî –ø—Ä–æ–≤–µ—Ä–∏–º –ø–æ —Ä–∞–π–æ–Ω–∞–º, –º–æ–∂–µ—Ç –∏ –Ω–µ—Ç –±–ª–∏–∂–∞–π—à–∏—Ö —Ü–µ–Ω—Ç—Ä–æ–≤ –≥–æ—Ä–æ–¥–∞ —Ç–æ–≥–¥–∞ `NaN` = 0
    ‚ùå 'parks_around3000' ‚Äî –ø—Ä–æ–≤–µ—Ä–∏–º –ø–æ —Ä–∞–π–æ–Ω–∞–º, –º–æ–∂–µ—Ç –∏ –Ω–µ—Ç –±–ª–∏–∂–∞–π—à–∏—Ö –ø–∞—Ä–∫–æ–≤ —Ç–æ–≥–¥–∞ `NaN` = 0
    ‚ùå 'parks_nearest'
    ‚ùå 'ponds_around3000' ‚Äî –ø—Ä–æ–≤–µ—Ä–∏–º –ø–æ —Ä–∞–π–æ–Ω–∞–º, –º–æ–∂–µ—Ç –∏ –Ω–µ—Ç –±–ª–∏–∂–∞–π—à–∏—Ö –ø—Ä—É–¥–æ–≤ —Ç–æ–≥–¥–∞ `NaN` = 0
    ‚ùå 'ponds_nearest'
    ‚ùå 'days_exposition' ‚Äî –ø–æ—Å–º–æ—Ç—Ä–∏–º –∫–∞–∫ —Å–≤—è–∑–∞–Ω —Å—Ç–æ–ª–±–µ—Ü —Å `first_day_exposition`

**–ü—Ä–µ–¥–ø–æ–ª–∞–≥–∞—é**

—á—Ç–æ —Å—Ç–æ–∏—Ç –∑–∞–º–µ–Ω–∏—Ç—å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –≤—ã—Å–æ—Ç—É –ø–æ—Ç–æ–ª–∫–æ–≤ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —ç—Ç–∞–∂–µ–π –Ω–∞ –º–µ–¥–∏–∞–Ω—É —Ä–∞–π–æ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π.

### 'locality_name' ‚Äî —Å–Ω–∞—á–∞–ª–∞ —É–¥–∞–ª–∏–º –Ω–µ—è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã

In [ ]:
def correct_name(to_correct):
    pass

In [15]:
display(
    real_estate_data['locality_name'].unique()[:5]
)

array(['–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥', '–ø–æ—Å—ë–ª–æ–∫ –®—É—à–∞—Ä—ã', '–≥–æ—Ä–æ–¥—Å–∫–æ–π –ø–æ—Å—ë–ª–æ–∫ –Ø–Ω–∏–Ω–æ-1',
       '–ø–æ—Å—ë–ª–æ–∫ –ü–∞—Ä–≥–æ–ª–æ–≤–æ', '–ø–æ—Å—ë–ª–æ–∫ –ú—É—Ä–∏–Ω–æ'], dtype=object)

In [12]:
display(
    real_estate_data.loc[real_estate_data['locality_name'].isna()]['is_apartment'].unique()
)

array([False])

In [13]:
display(
    real_estate_data.loc[real_estate_data['locality_name'].isna()]['is_apartment'].count()
)

49

–¢–∞–∫, –ø–æ—Ö–æ–∂–µ, —á—Ç–æ —É –≤—Å–µ—Ö `'locality_name'` = `NaN`, `'is_apartment'` = `False`

In [14]:
display(
    len(real_estate_data.loc[real_estate_data['parks_around3000'].isna()]['parks_nearest']),
    len(real_estate_data.loc[real_estate_data['parks_around3000'] == 0]['parks_nearest'].unique()),
    (real_estate_data.loc[(real_estate_data['parks_around3000'] == 0)
                             and (real_estate_data['parks_nearest'].isna())]['rooms'].count()),
    
)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
real_estate_data['first_day_exposition'] = pd.to_datetime(real_estate_data['first_day_exposition'], format='%d/%m/%YT%h%m%s')

In [ ]:
display(
    real_estate_data['first_day_exposition'].describe()
)

In [ ]:
display(
    real_estate_data.loc[real_estate_data['locality_name'].isna()].head()
)
#real_estate_data['locality_name'].fillna(value=False, inplace=True)

In [ ]:
display(
    real_estate_data.loc[real_estate_data['cityCenters_nearest'].isna()]['locality_name'].unique(),
    len(real_estate_data.loc[real_estate_data['cityCenters_nearest'].isna()]['locality_name'].unique())
)
#real_estate_data['locality_name'].fillna(value=False, inplace=True)

In [ ]:
display(
    
    real_estate_data['cityCenters_nearest'] = (
        real_estate_data.loc[real_estate_data['cityCenters_nearest'].isna()]['locality_name'].unique()
    ),
    len(real_estate_data.loc[real_estate_data['cityCenters_nearest'].isna()]['locality_name'].unique())
)
#real_estate_data['locality_name'].fillna(value=False, inplace=True)

In [ ]:
display(
    real_estate_data.loc[real_estate_data['studio'] == True].head(),
    len(real_estate_data.loc[real_estate_data['studio'] == True])
)
#real_estate_data['locality_name'].fillna(value=False, inplace=True)

`ceiling_height` ‚Äî –ø—Ä–æ–ø—É—Å–∫–∏ –∑–∞–º–µ–Ω–∏–º –º–µ–¥–∏–∞–Ω–æ–π –ø–æ —Ä–∞–π–æ–Ω—É `locality_name`

In [ ]:
display(real_estate_data.info())

–ü—Ä–∏–≤–µ–¥–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –∫ –Ω—É–∂–Ω—ã–º —Ç–∏–ø–∞–º:
–ü–æ—è—Å–Ω–∏—Ç–µ, –≤ –∫–∞–∫–∏—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö –Ω—É–∂–Ω–æ –∏–∑–º–µ–Ω–∏—Ç—å —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –∏ –ø–æ—á–µ–º—É.

In [ ]:
real_estate_data.astype(
        {
            'total_images': 'uint16',
            'rooms':'uint8',
            'ceiling_height':'float16',
            'floors_total':'uint16',
            'floor':'int16',
            'parks_around3000':'uint8',
            'ponds_around3000':'uint8',
            'is_apartment': 'bool',
        }
    ).dtypes

## –®–∞–≥ 3. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ –∏ –¥–æ–±–∞–≤—å—Ç–µ –≤ —Ç–∞–±–ª–∏—Ü—É

—Ü–µ–Ω—É –∫–≤–∞–¥—Ä–∞—Ç–Ω–æ–≥–æ –º–µ—Ç—Ä–∞;
–¥–µ–Ω—å –Ω–µ–¥–µ–ª–∏, –º–µ—Å—è—Ü –∏ –≥–æ–¥ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –æ–±—ä—è–≤–ª–µ–Ω–∏—è;
—ç—Ç–∞–∂ –∫–≤–∞—Ä—Ç–∏—Ä—ã; –≤–∞—Ä–∏–∞–Ω—Ç—ã ‚Äî –ø–µ—Ä–≤—ã–π, –ø–æ—Å–ª–µ–¥–Ω–∏–π, –¥—Ä—É–≥–æ–π;
—Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ –∂–∏–ª–æ–π –∏ –æ–±—â–µ–π –ø–ª–æ—â–∞–¥–∏, –∞ —Ç–∞–∫–∂–µ –æ—Ç–Ω–æ—à–µ–Ω–∏–µ –ø–ª–æ—â–∞–¥–∏ –∫—É—Ö–Ω–∏ –∫ –æ–±—â–µ–π.

## –®–∞–≥ 4. –ü—Ä–æ–≤–µ–¥–∏—Ç–µ –∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö

–ò–∑—É—á–∏—Ç–µ —Å–ª–µ–¥—É—é—â–∏–µ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã: –ø–ª–æ—â–∞–¥—å, —Ü–µ–Ω–∞, —á–∏—Å–ª–æ –∫–æ–º–Ω–∞—Ç, –≤—ã—Å–æ—Ç–∞ –ø–æ—Ç–æ–ª–∫–æ–≤. –ü–æ—Å—Ç—Ä–æ–π—Ç–µ –≥–∏—Å—Ç–æ–≥—Ä–∞–º–º—ã –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞.
–ò–∑—É—á–∏—Ç–µ –≤—Ä–µ–º—è –ø—Ä–æ–¥–∞–∂–∏ –∫–≤–∞—Ä—Ç–∏—Ä—ã. –ü–æ—Å—Ç—Ä–æ–π—Ç–µ –≥–∏—Å—Ç–æ–≥—Ä–∞–º–º—É. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∏ –º–µ–¥–∏–∞–Ω—É. –û–ø–∏—à–∏—Ç–µ, —Å–∫–æ–ª—å–∫–æ –æ–±—ã—á–Ω–æ –∑–∞–Ω–∏–º–∞–µ—Ç –ø—Ä–æ–¥–∞–∂–∞. –ö–æ–≥–¥–∞ –º–æ–∂–Ω–æ —Å—á–∏—Ç–∞—Ç—å, —á—Ç–æ –ø—Ä–æ–¥–∞–∂–∏ –ø—Ä–æ—à–ª–∏ –æ—á–µ–Ω—å –±—ã—Å—Ç—Ä–æ, –∞ –∫–æ–≥–¥–∞ –Ω–µ–æ–±—ã—á–Ω–æ –¥–æ–ª–≥–æ?
–£–±–µ—Ä–∏—Ç–µ —Ä–µ–¥–∫–∏–µ –∏ –≤—ã–±–∏–≤–∞—é—â–∏–µ—Å—è –∑–Ω–∞—á–µ–Ω–∏—è. –û–ø–∏—à–∏—Ç–µ, –∫–∞–∫–∏–µ –æ—Å–æ–±–µ–Ω–Ω–æ—Å—Ç–∏ –æ–±–Ω–∞—Ä—É–∂–∏–ª–∏.
–ö–∞–∫–∏–µ —Ñ–∞–∫—Ç–æ—Ä—ã –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –≤–ª–∏—è—é—Ç –Ω–∞ —Å—Ç–æ–∏–º–æ—Å—Ç—å –∫–≤–∞—Ä—Ç–∏—Ä—ã? –ò–∑—É—á–∏—Ç–µ, –∑–∞–≤–∏—Å–∏—Ç –ª–∏ —Ü–µ–Ω–∞ –æ—Ç –ø–ª–æ—â–∞–¥–∏, —á–∏—Å–ª–∞ –∫–æ–º–Ω–∞—Ç, —É–¥–∞–ª—ë–Ω–Ω–æ—Å—Ç–∏ –æ—Ç —Ü–µ–Ω—Ç—Ä–∞. –ò–∑—É—á–∏—Ç–µ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å —Ü–µ–Ω—ã –æ—Ç —Ç–æ–≥–æ, –Ω–∞ –∫–∞–∫–æ–º —ç—Ç–∞–∂–µ —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω–∞ –∫–≤–∞—Ä—Ç–∏—Ä–∞: –ø–µ—Ä–≤–æ–º, –ø–æ—Å–ª–µ–¥–Ω–µ–º –∏–ª–∏ –¥—Ä—É–≥–æ–º. –¢–∞–∫–∂–µ –∏–∑—É—á–∏—Ç–µ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –æ—Ç –¥–∞—Ç—ã —Ä–∞–∑–º–µ—â–µ–Ω–∏—è: –¥–Ω—è –Ω–µ–¥–µ–ª–∏, –º–µ—Å—è—Ü–∞ –∏ –≥–æ–¥–∞.
–í—ã–±–µ—Ä–∏—Ç–µ 10 –Ω–∞—Å–µ–ª—ë–Ω–Ω—ã—Ö –ø—É–Ω–∫—Ç–æ–≤ —Å –Ω–∞–∏–±–æ–ª—å—à–∏–º —á–∏—Å–ª–æ–º –æ–±—ä—è–≤–ª–µ–Ω–∏–π. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω—é—é —Ü–µ–Ω—É –∫–≤–∞–¥—Ä–∞—Ç–Ω–æ–≥–æ –º–µ—Ç—Ä–∞ –≤ —ç—Ç–∏—Ö –Ω–∞—Å–µ–ª—ë–Ω–Ω—ã—Ö –ø—É–Ω–∫—Ç–∞—Ö. –í—ã–¥–µ–ª–∏—Ç–µ —Å—Ä–µ–¥–∏ –Ω–∏—Ö –Ω–∞—Å–µ–ª—ë–Ω–Ω—ã–µ –ø—É–Ω–∫—Ç—ã —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π –∏ –Ω–∏–∑–∫–æ–π —Å—Ç–æ–∏–º–æ—Å—Ç—å—é –∂–∏–ª—å—è. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –º–æ–∂–Ω–æ –Ω–∞–π—Ç–∏ –ø–æ –∏–º–µ–Ω–∏ –≤ —Å—Ç–æ–ª–±—Ü–µ locality_name.
–ò–∑—É—á–∏—Ç–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏—è –∫–≤–∞—Ä—Ç–∏—Ä: –¥–ª—è –∫–∞–∂–¥–æ–π –∫–≤–∞—Ä—Ç–∏—Ä—ã –µ—Å—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–∏ –¥–æ —Ü–µ–Ω—Ç—Ä–∞. –í—ã–¥–µ–ª–∏—Ç–µ –∫–≤–∞—Ä—Ç–∏—Ä—ã –≤ –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥–µ (locality_name). –í–∞—à–∞ –∑–∞–¥–∞—á–∞ ‚Äî –≤—ã—è—Å–Ω–∏—Ç—å, –∫–∞–∫–∞—è –æ–±–ª–∞—Å—Ç—å –≤—Ö–æ–¥–∏—Ç –≤ —Ü–µ–Ω—Ç—Ä. –°–æ–∑–¥–∞–π—Ç–µ —Å—Ç–æ–ª–±–µ—Ü —Å —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ–º –¥–æ —Ü–µ–Ω—Ç—Ä–∞ –≤ –∫–∏–ª–æ–º–µ—Ç—Ä–∞—Ö: –æ–∫—Ä—É–≥–ª–∏—Ç–µ –¥–æ —Ü–µ–ª—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π. –ü–æ—Å–ª–µ —ç—Ç–æ–≥–æ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω—é—é —Ü–µ–Ω—É –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∫–∏–ª–æ–º–µ—Ç—Ä–∞. –ü–æ—Å—Ç—Ä–æ–π—Ç–µ –≥—Ä–∞—Ñ–∏–∫: –æ–Ω –¥–æ–ª–∂–µ–Ω –ø–æ–∫–∞–∑—ã–≤–∞—Ç—å, –∫–∞–∫ —Ü–µ–Ω–∞ –∑–∞–≤–∏—Å–∏—Ç –æ—Ç —É–¥–∞–ª—ë–Ω–Ω–æ—Å—Ç–∏ –æ—Ç —Ü–µ–Ω—Ç—Ä–∞. –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –≥—Ä–∞–Ω–∏—Ü—É, –≥–¥–µ –≥—Ä–∞—Ñ–∏–∫ —Å–∏–ª—å–Ω–æ –º–µ–Ω—è–µ—Ç—Å—è, ‚Äî —ç—Ç–æ –∏ –±—É–¥–µ—Ç —Ü–µ–Ω—Ç—Ä–∞–ª—å–Ω–∞—è –∑–æ–Ω–∞.
–í—ã–¥–µ–ª–∏—Ç–µ —Å–µ–≥–º–µ–Ω—Ç –∫–≤–∞—Ä—Ç–∏—Ä –≤ —Ü–µ–Ω—Ç—Ä–µ. –ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π—Ç–µ —ç—Ç—É —Ç–µ—Ä—Ä–∏—Ç–æ—Ä–∏—é –∏ –∏–∑—É—á–∏—Ç–µ —Å–ª–µ–¥—É—é—â–∏–µ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã: –ø–ª–æ—â–∞–¥—å, —Ü–µ–Ω–∞, —á–∏—Å–ª–æ –∫–æ–º–Ω–∞—Ç, –≤—ã—Å–æ—Ç–∞ –ø–æ—Ç–æ–ª–∫–æ–≤. –¢–∞–∫–∂–µ –≤—ã–¥–µ–ª–∏—Ç–µ —Ñ–∞–∫—Ç–æ—Ä—ã, –∫–æ—Ç–æ—Ä—ã–µ –≤–ª–∏—è—é—Ç –Ω–∞ —Å—Ç–æ–∏–º–æ—Å—Ç—å –∫–≤–∞—Ä—Ç–∏—Ä—ã (—á–∏—Å–ª–æ –∫–æ–º–Ω–∞—Ç, —ç—Ç–∞–∂, —É–¥–∞–ª—ë–Ω–Ω–æ—Å—Ç—å –æ—Ç —Ü–µ–Ω—Ç—Ä–∞, –¥–∞—Ç–∞ —Ä–∞–∑–º–µ—â–µ–Ω–∏—è –æ–±—ä—è–≤–ª–µ–Ω–∏—è). –°–¥–µ–ª–∞–π—Ç–µ –≤—ã–≤–æ–¥—ã. –û—Ç–ª–∏—á–∞—é—Ç—Å—è –ª–∏ –æ–Ω–∏ –æ—Ç –æ–±—â–∏—Ö –≤—ã–≤–æ–¥–æ–≤ –ø–æ –≤—Å–µ–π –±–∞–∑–µ?

## –®–∞–≥ 5. –ù–∞–ø–∏—à–∏—Ç–µ –æ–±—â–∏–π –≤—ã–≤–æ–¥

## –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

`airports_nearest` ‚Äî —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ –¥–æ –±–ª–∏–∂–∞–π—à–µ–≥–æ –∞—ç—Ä–æ–ø–æ—Ä—Ç–∞ –≤ –º–µ—Ç—Ä–∞—Ö (–º)

`balcony` ‚Äî —á–∏—Å–ª–æ –±–∞–ª–∫–æ–Ω–æ–≤

`ceiling_height` ‚Äî –≤—ã—Å–æ—Ç–∞ –ø–æ—Ç–æ–ª–∫–æ–≤ (–º)

`cityCenters_nearest` ‚Äî —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ –¥–æ —Ü–µ–Ω—Ç—Ä–∞ –≥–æ—Ä–æ–¥–∞ (–º)

`days_exposition` ‚Äî —Å–∫–æ–ª—å–∫–æ –¥–Ω–µ–π –±—ã–ª–æ —Ä–∞–∑–º–µ—â–µ–Ω–æ –æ–±—ä—è–≤–ª–µ–Ω–∏–µ (–æ—Ç –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –¥–æ —Å–Ω—è—Ç–∏—è)

`first_day_exposition` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏

`floor` ‚Äî —ç—Ç–∞–∂

`floors_total` ‚Äî –≤—Å–µ–≥–æ —ç—Ç–∞–∂–µ–π –≤ –¥–æ–º–µ

`is_apartment` ‚Äî –∞–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç—ã (–±—É–ª–µ–≤ —Ç–∏–ø)

`kitchen_area` ‚Äî –ø–ª–æ—â–∞–¥—å –∫—É—Ö–Ω–∏ –≤ –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã—Ö –º–µ—Ç—Ä–∞—Ö (–º¬≤)

`last_price` ‚Äî —Ü–µ–Ω–∞ –Ω–∞ –º–æ–º–µ–Ω—Ç —Å–Ω—è—Ç–∏—è —Å –ø—É–±–ª–∏–∫–∞—Ü–∏–∏

`living_area` ‚Äî –∂–∏–ª–∞—è –ø–ª–æ—â–∞–¥—å –≤ –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã—Ö –º–µ—Ç—Ä–∞—Ö (–º¬≤)

`locality_name` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –Ω–∞—Å–µ–ª—ë–Ω–Ω–æ–≥–æ –ø—É–Ω–∫—Ç–∞

`open_plan` ‚Äî —Å–≤–æ–±–æ–¥–Ω–∞—è –ø–ª–∞–Ω–∏—Ä–æ–≤–∫–∞ (–±—É–ª–µ–≤ —Ç–∏–ø)

`parks_around3000` ‚Äî —á–∏—Å–ª–æ –ø–∞—Ä–∫–æ–≤ –≤ —Ä–∞–¥–∏—É—Å–µ 3 –∫–º

`parks_nearest` ‚Äî —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ –¥–æ –±–ª–∏–∂–∞–π—à–µ–≥–æ –ø–∞—Ä–∫–∞ (–º)

`ponds_around3000` ‚Äî —á–∏—Å–ª–æ –≤–æ–¥–æ—ë–º–æ–≤ –≤ —Ä–∞–¥–∏—É—Å–µ 3 –∫–º

`ponds_nearest` ‚Äî —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ –¥–æ –±–ª–∏–∂–∞–π—à–µ–≥–æ –≤–æ–¥–æ—ë–º–∞ (–º)

`rooms` ‚Äî —á–∏—Å–ª–æ –∫–æ–º–Ω–∞—Ç

`studio` ‚Äî –∫–≤–∞—Ä—Ç–∏—Ä–∞-—Å—Ç—É–¥–∏—è (–±—É–ª–µ–≤ —Ç–∏–ø)

`total_area` ‚Äî –ø–ª–æ—â–∞–¥—å –∫–≤–∞—Ä—Ç–∏—Ä—ã –≤ –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã—Ö –º–µ—Ç—Ä–∞—Ö (–º¬≤)

`total_images` ‚Äî —á–∏—Å–ª–æ —Ñ–æ—Ç–æ–≥—Ä–∞—Ñ–∏–π –∫–≤–∞—Ä—Ç–∏—Ä—ã –≤ –æ–±—ä—è–≤–ª–µ–Ω–∏–∏